# API Evangelist normalized working copy of the Hubble-published OpenAPI.
# Source (verbatim): openapi/hubble-network-platform-openapi-original.yml
#   harvested 2026-08-04 from https://hubble.com/docs/openapi.yaml (HTTP 200)
# ONLY change vs the original: the required root `openapi:` version key, which the
# published document omits (it is otherwise valid OpenAPI 3.0.x — it uses
# `nullable: true`, which is 3.0-only). No paths, schemas, or descriptions altered.
openapi: 3.0.3
# updated 2026-07-28
info:
  title: Hubble Platform API
  description: |
    The Hubble platform is built API-first. Use our Cloud API to manage your devices
    and access device data programmatically. 
    We've designed our API following RESTful principles. 
    Each endpoint returns standard HTTP status codes and may include JSON payloads.

    ---
    
    ## API Access
    Use API Keys to authenticate with the Hubble Cloud API for your organization. 

    ### Generate an API Key
    Log in to your Hubble dashboard. Navigate to **Developer Tools > API Tokens** to create a new API Key. 
    Provide a name for the token, and set an appropriate expiration date for temporary access.

    ### Organization ID
    You will need `org_id` to make API requests. From your Hubble dashboard, navigate to 
    **Developer Tooks > API Tokens**, or **Organization Settings**, to find your Organization ID. 

    ### Authorization Scopes
    API endpoints require specific authorization scopes to perform the intended operation. 
    **Required Scope** is always provided in the API documentation.
    
    API Keys can be created with specific authorization scopes that control what operations the key can perform. 
    If no scopes are specified, the key will be created with all available scopes (admin-level access).
   
    | **Scope**                   | **Access**                                     |
    |------------------------------|-------------------------------------------------|
    | **read-api-keys**            | View API keys and their metadata               |
    | **write-api-keys**           | Create, update, and delete API keys            |
    | **read-users**               | View user information and roles                |
    | **write-users**              | Add, update, and remove users from the organization |
    | **read-organization-metadata** | View organization details and settings       |
    | **write-organization-metadata** | Update organization information            |
    | **read-devices**             | View device information and status             |
    | **write-devices**            | Register and manage devices                    |
    | **read-invitations**         | View pending invitations                       |
    | **write-invitations**        | Create and revoke user invitations             |
    | **read-packets**             | Access packet data and retrieval endpoints     |
    | **read-platform-metrics**    | View platform metrics and analytics            |
    | **read-billing-usage**       | View billing usage information                 |
    | **read-billing-invoices**    | View billing invoices                          |
    | **read-webhooks**            | View webhook configurations                    |
    | **write-webhooks**           | Create and manage webhook endpoints            |
        
    **Example Scope Combinations**
    - Create a key with read-only access: `["read-api-keys", "read-users", "read-devices"]`
    - Create a key for device management: `["read-devices", "write-devices"]`
    - Create a key for user management: `["read-users", "write-users", "read-invitations", "write-invitations"]`
        
    **Best Practices for Data Security**
    - Create keys with the minimum required scopes for your use case
    - Regularly review and rotate API keys
    - Use descriptive names for your keys to track their purpose
    - Set appropriate expiration dates for temporary access    
    
    ---

    ## Import API Definition
    You can quickly import the Hubble Cloud API into your preferred developer environment (such as Postman or Insomnia) using our **public OpenAPI definition**.
    Simply download or import the YAML file directly:

    [https://hubble.com/docs/openapi.yaml](https://hubble.com/docs/openapi.yaml)
    
    ---
    
    ## Pagination
    When the number of objects requested exceeds the maximum page size for an endpoint, the API response will be paginated. 
    This means you will receive a subset of the total results, along with a `Continuation-Token` in the Response Header that can be used to fetch subsequent subsets.

    To retrieve the next set of data, you must use the provided `Continuation-Token` in the Request Header of your next API call to the same endpoint. 
    Continue using the provided token in each successive request until no `Continuation-Token` is returned, which indicates you have retrieved all available data.
    
    ---
    
    ## Rate Limits
    The Hubble Cloud API follows a leaky bucket approach to rate limiting. Endpoints are rate limited to three (3) requests per second. 
    Your organization is limited to a total of 15 requests per second. 
    If you exceed this limit, you will receive a 429 status code. 
    We recommend backoff retry logic to stay within the limit.
    
    ---
    
    ## Request Headers
    All HTTP responses will include a `X-Request-ID` header that is logged internally and can be used for tracing/debugging a particular API request. 
    All HTTP requests can include a `X-Request-ID` header which will be logged and mapped to the responses' `X-Request-ID` header. 
    
    Share Request Headers whenever troubleshooting an API issue with Hubble Support.

    ---
    
    ## Status Codes
    The Hubble Cloud API returns the following HTTP status codes: `200`, `400`, `401`, `403`, `404`, `429` and `500`. 
    Use the tailored message returned with each status code for insight in the specific context of the endpoint you are attempting to access.

    ---
    
    ## Versioning
    Our cloud backend follows a rolling release model. This means:
    - **Continuous Deployment**: New features, security updates, and performance improvements are automatically rolled out.
    - **Backward Compatibility**: Cloud updates are designed to be compatible with devices running firmware/SDK versions within our active or maintained support windows.
    - **Transparent Change Management**: Release notes and changelogs are published regularly so you can track enhancements and understand any adjustments that might affect integrations.
    - **Versioned Public API**: The Cloud API uses basic major versioning in the url paths (`/v1/...`, `/v2/...` etc.). Major backwards incompatible changes will be made by creating a version of the endpoint with a higher version and communicating with customers to migrate. The legacy `/api/...` and `/api/v2/...` paths remain fully supported as aliases for `/v1/...` and `/v2/...` respectively, so previous versions will be supported for a minimum of 1 year.

    ---

  version: 1.0.0
  
servers:
  - url: https://api.hubble.com
    description: Production

security:
  - BearerAuth: []

paths:
  /v1/org/{org_id}/check:
    get:
      tags:
        - API Keys
      operationId: validate-api-key
      x-criticality: high
      summary: Validate an API Key
      description: Confirm your API key is valid.
      parameters:
        - $ref: '#/components/parameters/orgIdPathParam'
      responses:
        '200':
          description: API key validated
          content:
            application/json:
              schema:
                type: object
                properties:
                  org_id:
                    $ref: '#/components/schemas/orgId'
        '400':
          $ref: '#/components/responses/ErrorBadRequest'
        '500':
          $ref: '#/components/responses/ErrorInternalServer'

  /v1/org/{org_id}/key:
    post:
      tags:
        - API Keys
      operationId: provision-api-key
      x-criticality: high
      summary: Provision an API Key
      description: |
        Provision a new API Key for your organization.
        
        **Required Scope:** `write-api-keys`
        
        ### Authorization Scopes
        API Keys can be created with specific authorization scopes that control what operations the key can perform. 
        If no scopes are specified, the key will be created with all available scopes (admin-level access).
        See the Cloud API "Introduction" for a complete list authorization scopes.

        ### Expiration Date
        Set an appropriate expiration date for temporary API access. For no expiration, set to `0`.
        
      parameters:
        - $ref: '#/components/parameters/orgIdPathParam'
        - $ref: '#/components/parameters/contentTypeJsonHeader'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  $ref: '#/components/schemas/apiKeyName'
                expires_at_seconds:
                  $ref: '#/components/schemas/apiKeyExpiration'
                scopes:
                  $ref: '#/components/schemas/authScope'
                  example: ["read-api-keys", "read-users", "read-devices"]
      responses:
        '200':
          description: API key provisioned
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/apiKeyItem'
                  - type: object
                    properties:
                      key:
                        $ref: '#/components/schemas/apiKey'
        '400':
          $ref: '#/components/responses/ErrorBadRequest'
        '500':
          $ref: '#/components/responses/ErrorInternalServer'

    get:
      tags:
        - API Keys
      operationId: list-api-keys
      x-criticality: high
      summary: List all API Keys
      description: |
        List all valid API Keys for your organization.
        
        **Required Scope:** `read-api-keys`
      parameters:
        - $ref: '#/components/parameters/orgIdPathParam'
      responses:
        '200':
          description: List of API keys
          content:
            application/json:
              schema:
                type: object
                properties:
                  keys:
                    type: array
                    items:
                      $ref: '#/components/schemas/apiKeyItem'
        '400':
          $ref: '#/components/responses/ErrorBadRequest'
        '500':
          $ref: '#/components/responses/ErrorInternalServer'

  /v1/org/{org_id}/key/{key_id}:
    delete:
      tags:
        - API Keys
      operationId: delete-api-key
      x-criticality: high
      summary: Delete an API Key
      description: |
        Permanently delete an API Key from your organization.
        
        **Required Scope:** `write-api-keys`
      parameters:
        - $ref: '#/components/parameters/orgIdPathParam'
        - name: key_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/apiKeyId'
          description: API key ID
      responses:
        '200':
          description: API key deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  key_id:
                    $ref: '#/components/schemas/apiKeyId'
        '400':
          $ref: '#/components/responses/ErrorBadRequest'
        '500':
          $ref: '#/components/responses/ErrorInternalServer'

    patch:
      tags:
        - API Keys
      operationId: update-api-key
      x-criticality: high
      summary: Update an API Key
      description: |
        Update metadata for an API key, including name, authorization scopes, and expiration time.
        
        **Required Scope:** `write-api-keys`
        
        ### Authorization Scopes
        You may update the scopes assigned to an API key to change its permissions. See the Cloud API "Introduction" for a complete list authorization scopes.
        
        ### Expiration Time
        You may update the expiration time for an API key. Set to 0 to remove expiration (key will never expire).
      parameters:
        - $ref: '#/components/parameters/orgIdPathParam'
        - name: key_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/apiKeyId'
          description: API key ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                set_name:
                  $ref: '#/components/schemas/apiKeyName'
                set_scopes:
                  $ref: '#/components/schemas/authScope'
                  example: ["read-api-keys", "read-users", "read-devices"]
                set_expires_at_seconds:
                  $ref: '#/components/schemas/apiKeyExpiration'
      responses:
        '200':
          description: API Key Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiKeyItem'
        '400':
          $ref: '#/components/responses/ErrorBadRequest'
        '500':
          $ref: '#/components/responses/ErrorInternalServer'

  /v1/org/{org_id}/key_scopes:
    get:
      tags:
        - API Keys
      operationId: list-key-scopes
      x-criticality: high
      summary: List Key Scopes
      description: |
        Retrieve a list of all available authorization scopes that can be assigned to API keys.
        This endpoint returns scope IDs and human-readable display names.
        
        **Required Scope:** `read-api-keys`
      parameters:
        - $ref: '#/components/parameters/orgIdPathParam'
      responses:
        '200':
          description: List of available scopes
          content:
            application/json:
              schema:
                type: object
                properties:
                  scopes:
                    type: array
                    items:
                      type: object
                      properties:
                        scope_id:
                          $ref: '#/components/schemas/authScope'
                          description: The scope identifier used in API requests
                        display_name:
                          type: string
                          description: Human-readable name for the scope
                      required:
                        - scope_id
                        - display_name
                    description: List of all available authorization scopes
        '400':
          $ref: '#/components/responses/ErrorBadRequest'
        '500':
          $ref: '#/components/responses/ErrorInternalServer'

  /v1/org/{org_id}:
    patch:
      tags:
        - Organizations
      operationId: update-organization-metadata
      x-criticality: medium
      summary: Update Organization Metadata
      description: |
        Update metadata for an organization.
        
        **Required Scope:** `write-organization-metadata`
      parameters:
        - $ref: '#/components/parameters/orgIdPathParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: |
                All of the potential update operations. 
                Each field is optional but the request must have at least one field set to perform an update.
              properties:
                set_name:
                  $ref: '#/components/schemas/organizationName'
                set_address:
                  $ref: '#/components/schemas/address'
                set_contact_info:
                  $ref: '#/components/schemas/contactInfo'
                set_timezone:
                  $ref: '#/components/schemas/timezone'

      responses:
        '200':
          description: "Updated Organization"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organization'
        '400':
          $ref: '#/components/responses/ErrorBadRequest'
        '500':
          $ref: '#/components/responses/ErrorInternalServer'

    get:
      tags:
        - Organizations
      operationId: retrieve-organization-metadata
      x-criticality: medium
      summary: Retrieve Organization Metadata
      description: |
        Retrieve metadata for an organization.
        
        **Required Scope:** `read-organization-metadata`
      parameters:
        - $ref: '#/components/parameters/orgIdPathParam'
      responses:
        '200':
          description: "An Organization"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organization'
        '400':
          $ref: '#/components/responses/ErrorBadRequest'
        '500':
          $ref: '#/components/responses/ErrorInternalServer'

  /v2/org/{org_id}/devices:
    post:
      tags:
        - Devices
      operationId: register-new-devices
      x-criticality: high
      summary: Register New Devices
      description: |
        Register one or more devices to your organization.

        **Required Scope:** `write-devices`

        ## Overview
        This endpoint supports bulk device registration with specified encryption mode, and custom naming and tagging.

        ## Device Encryption Modes

        ### Set Key Length
        Set encryption key length to match your device firmware's encryption library requirement:
        * **256-bit key** (32 bytes): set `encryption` to "AES-256-CTR"
        * **128-bit key** (16 bytes): set `encryption` to "AES-128-CTR"
        * **128-bit key, IN100 protocol** (16 bytes): set `encryption` to "AES-128-EAX"

        ### Set Counter Source for EID Rotation
        The Hubble Device SDK rotates through ephemeral IDs (EID) so that devices are anonymous on the network.
        Specify the `counter_source` based on your hardware capabilities:      
        * Use "UNIX_TIME" for **time-based encryption**, e.g. for devices with a real time clock (RTC). **This is the default value.**
        * Use "DEVICE_UPTIME" for **timeless encryption**, e.g. using the device uptime counter to rotate EIDs.

        ### Set EID Rotation Period (AES-128-EAX only)
        For the IN100 protocol (`encryption` of "AES-128-EAX"), you may optionally override the EID rotation period with `eid_rotation.period_exponent`: the base-2 exponent of the rotation period in seconds (matches the IN100 configuration field). 
        Must be between 10 and 15 inclusive. 
        The period defaults to `period_exponent: 15`, corresponding to 32,768 seconds (~9 hours).
        
        ## Device Metadata
        You can optionally provide `names` and `tags` for each device being provisioned:
        * `names`: An array of device names.
        * `tags`: An array of device tags.
        
        ## Device Key
        By default `device.key` is returned encoded in standard Base64 format, and is automatically compatible with the Hubble Device SDK. 
        Pass `key_format=hex` to receive device.key as a lowercase hexadecimal string instead.
        
      parameters:
        - $ref: '#/components/parameters/orgIdPathParam'
        - $ref: '#/components/parameters/deviceKeyFormatQueryParam'
        - $ref: '#/components/parameters/contentTypeJsonHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ encryption ]
              properties:
                n_devices:
                  type: integer
                  minimum: 1
                  maximum: 1000
                  default: 1
                  description: Number of devices to provision
                encryption:
                  $ref: '#/components/schemas/deviceEncryption'
                names:
                  type: array
                  items:
                    $ref: '#/components/schemas/deviceName'
                  description: |
                    Optional array of device names. 
                    If provided, the length must match the number of devices being provisioned.
                tags:
                  type: array
                  items:
                    $ref: '#/components/schemas/deviceTags'
                  description: | 
                    Optional array of tag maps for each device. 
                    If provided, the length must match the number of devices being provisioned.
                eid_rotation:
                  $ref: '#/components/schemas/eidRotation'
                  description: |
                    Ephemeral ID (EID) rotation configuration for provisioned devices.
                    `counter_source` default is "UNIX_TIME".
                install_locations:
                  type: array
                  items:
                    $ref: '#/components/schemas/installLocation'
                  description: |
                    Optional array of install locations for each provisioned device.
                    If provided, the length must match the number of devices being provisioned.
              example:
                n_devices: 1
                encryption: AES-256-CTR
                names:
                  - my-device
            examples:
              encryptedProtocolUnixTime:
                summary: AES-CTR + UNIX_TIME eid_rotation
                description: |
                  Default-style encrypted device. Omit `eid_rotation` or set only `counter_source` to `UNIX_TIME`.
                value:
                  n_devices: 1
                  encryption: AES-256-CTR
                  names:
                    - sensor-001
              encryptedProtocolDeviceUptime:
                summary: AES-CTR + DEVICE_UPTIME eid_rotation
                description: |
                  Configure a device to leverage its uptime as the EID rotation counter source used for encryption.
                value:
                  n_devices: 1
                  encryption: AES-128-CTR
                  names:
                    - uptime-sensor
                  eid_rotation:
                    counter_source: DEVICE_UPTIME
              encryptedProtocolIN100:
                summary: AES-128-EAX (IN100 protocol) with DEVICE_UPTIME
                description: |
                  Provision a device using the IN100 protocol (AES-EAX authenticated encryption).
                value:
                  n_devices: 1
                  encryption: AES-128-EAX
                  names:
                    - in100-sensor
                  eid_rotation:
                    counter_source: DEVICE_UPTIME
                    period_exponent: 15
      responses:
        '200':
          description: Devices provisioned
          content:
            application/json:
              schema:
                type: object
                properties:
                  devices:
                    type: array
                    items:
                      type: object
                      properties:
                        device_id:
                          $ref: '#/components/schemas/deviceId'
                        name:
                          $ref: '#/components/schemas/deviceName'
                        created_ts:
                          type: integer
                          format: int64
                          description: Unix timestamp (in seconds) when the device was created
                        tags:
                          $ref: '#/components/schemas/deviceTags'
                        protocol:
                          type: object
                          description: Protocol configuration for the device
                          properties:
                            terrestrial:
                              type: object
                              properties:
                                version:
                                  type: integer
                                  format: uint8
                                  description: Protocol version number
                        eid_rotation:
                          $ref: '#/components/schemas/eidRotation'
                          description: EID rotation configuration for the device
                        network_id:
                          type: integer
                          description: Network ID for the device, if applicable
                        key:
                          type: string
                          description: |
                            Encryption key for the device, when applicable.
                            Default Base64-encoded bytes (when key_format omitted or key_format=base64).
                            With key_format=hex: lowercase hexadecimal string.
                        install_location:
                          $ref: '#/components/schemas/installLocation'
              examples:
                encryptedProtocolUnixTime:
                  summary: Matches AES-CTR + UNIX_TIME eid_rotation
                  value:
                    devices:
                      - device_id: "6ea53e36-b7fb-429f-8c2e-d536cab71089"
                        name: sensor-001
                        created_ts: 1734567890
                        tags:
                          _env: production
                        protocol:
                          terrestrial:
                            version: 0
                        eid_rotation:
                          counter_source: UNIX_TIME
                        key: "YWJjZGVmZw=="

                encryptedProtocolDeviceUptime:
                  summary: Matches AES-CTR + DEVICE_UPTIME eid_rotation
                  value:
                    devices:
                      - device_id: "7fb53e36-b7fb-429f-8c2e-d536cab71090"
                        name: uptime-sensor
                        created_ts: 1734567891
                        tags:
                          _env: production
                        protocol:
                          terrestrial:
                            version: 0
                        eid_rotation:
                          counter_source: DEVICE_UPTIME
                        key: "YWJjZGVmZw=="

                encryptedProtocolIN100:
                  summary: Matches AES-128-EAX (IN100 protocol) with DEVICE_UPTIME
                  value:
                    devices:
                      - device_id: "8ab53e36-b7fb-429f-8c2e-d536cab71091"
                        name: in100-sensor
                        created_ts: 1734567892
                        tags:
                          _env: production
                        protocol:
                          terrestrial:
                            version: 2
                        eid_rotation:
                          counter_source: DEVICE_UPTIME
                          period_exponent: 15
                        key: "YWJjZGVmZw=="
        '400':
          $ref: '#/components/responses/ErrorBadRequest'
        '500':
          $ref: '#/components/responses/ErrorInternalServer'

  /v1/org/{org_id}/devices:
    get:
      tags:
        - Devices
      operationId: list-devices
      x-criticality: high
      summary: List Devices
      description: |
        Returns all devices for your organization.

        **Required Scope:** `read-devices`

        ## Overview
        Use this endpoint to manage your device inventory and map Hubble-registered devices to your system. 
        (To consume a stream of incoming data, use the **Retrieve Organization Packets** endpoint.)

        ## Query Parameters
        
        ### Timestamp Filters
        Use timestamp filters to trim down the search results.
        * For simpliticy, we support the `between:{after_timestamp}:{before_timestamp}` operator.
        * The `after_timestamp` value is inclusive and the `before_timestamp` value is exclusive.

        ### Recent Packet
        Each device may return a `most_recent_packet` object. This is a sample packet that is periodically refreshed.
        * **Latency:** provided data is not updated in real-time or atomically with packet data.
        * **Availability:** registered devices that have never sent a packet will have an empty `most_recent_packet` field.

        :::warning
        **This endpoint should not be used to request packet data.** See "Retrieve Organization Packets". 
        :::

        When sorting by `most_recent_packet`,
        - Devices that have never sent a packet are included in results and sort to the beginning (ascending) or end (descending) of the page.
        - If `sort_ascending` is true, the pagination may return duplicate values since a device with a new `most_recent_packet` could be returned in subsequent pages.
        - If `sort_ascending` is false, the pagination may skip devices that receive new `most_recent_packet` data during the pagination.
        
        ## Example Queries
        - **Unused devices:** `filter_most_recent_packet_ts=between:0:1`
        - **Recently Active Devices:** `filter_most_recent_packet_ts=between:{timestamp_one_day_ago}:{timestamp_now}`
        - **Inactive Devices:** `filter_most_recent_packet_ts=between:1:{timestamp_one_week_ago}`
        - **Recently Registered Devices:** `filter_created_ts=between:{timestamp_one_day_ago}:{timestamp_now}`
        
      parameters:
        - $ref: '#/components/parameters/orgIdPathParam'
        - $ref: '#/components/parameters/limitQueryParam'
        - $ref: '#/components/parameters/filterTagsQueryParam'
        - $ref: '#/components/parameters/filterCreatedTSQueryParam'
        - $ref: '#/components/parameters/filterMostRecentPacketTSQueryParam'
        - $ref: '#/components/parameters/sortFieldQueryParam'
        - $ref: '#/components/parameters/sortAscendingQueryParam'
        - $ref: '#/components/parameters/continuationTokenHeader'
      responses:
        '200':
          description: Device Pages
          headers:
            Continuation-Token:
              $ref: '#/components/headers/ContinuationTokenHeader'
          content:
            application/json:
              schema:
                type: object
                properties:
                  devices:
                    type: array
                    items:
                      $ref: '#/components/schemas/organizationDevice'
        '400':
          $ref: '#/components/responses/ErrorBadRequest'
        '500':
          $ref: '#/components/responses/ErrorInternalServer'

    patch:
      tags:
        - Devices
      operationId: batch-update-devices
      x-criticality: high
      summary: Batch Update Devices
      description: |
        Update multiple registered devices belonging to your organization in a single request.
        
        **Required Scope:** `write-devices`
        
        ## Overview
        - A maximum of 1000 devices can be updated in a single request.
        - Each update is idempotent. In the event of an internal error (i.e. `5xx`) some updates may be applied and others may not. Each update is idempotent and the whole request can be retried again to ensure a consistent update across the batch.
      parameters:
        - $ref: '#/components/parameters/orgIdPathParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - updates
              properties:
                updates:
                  type: array
                  description: Array of device update operations, up to 1000.
                  items:
                    type: object
                    required:
                      - device_id
                    properties:
                      device_id:
                        $ref: '#/components/schemas/deviceId'
                      set_name:
                        $ref: '#/components/schemas/deviceName'
                        description: Set the device name
                      set_tags:
                        $ref: '#/components/schemas/deviceTags'
                        description: Set the device tags
                      set_install_location:
                        $ref: '#/components/schemas/installLocation'
                      set_destination_org_id:
                        type: string
                        format: uuid
                        description: |
                          Reassign this device to another organization. The destination
                          must be this organization's paired sandbox/production partner
                          (created via the create-sandbox-org flow) - reassignment
                          between unpaired orgs is rejected.

                          Cannot be combined with `set_name`, `set_tags`,
                          `set_install_location`, or `set_deploy` on the same update
                          item. Other items in the same batch request may still be
                          ordinary field updates.

                          This moves the device's encryption keys and network-ID
                          lookups to the destination org and updates its `_env` tag to
                          match (`sandbox` or `production`). Packet history and device
                          history are **not** moved - they remain associated with the
                          device in the source organization. If the destination is
                          the sandbox org, its device-count cap is enforced across all
                          reassignments targeting it within the same batch request.
                        example: "123e4567-e89b-12d3-a456-426614174000"
            examples:
              updateNames:
                value:
                  updates:
                    - device_id: "6ea53e36-b7fb-429f-8c2e-d536cab71089"
                      set_name: "Device 1"
                    - device_id: "7fb64f47-c8gc-530g-9d3f-e647dbc8219a"
                      set_name: "Device 2"
              updateTags:
                value:
                  updates:
                    - device_id: "6ea53e36-b7fb-429f-8c2e-d536cab71089"
                      set_tags:
                        location: "warehouse-a"
                    - device_id: "7fb64f47-c8gc-530g-9d3f-e647dbc8219a"
                      set_tags:
                        location: "warehouse-b"
      responses:
        '200':
          description: Updated Devices
          content:
            application/json:
              schema:
                type: object
                required:
                  - devices
                properties:
                  devices:
                    type: array
                    items:
                      $ref: '#/components/schemas/organizationDevice'
              examples:
                success:
                  value:
                    devices:
                      - id: "6ea53e36-b7fb-429f-8c2e-d536cab71089"
                        name: "Device 1"
                        created_ts: 1609459200
                        tags:
                          location: "warehouse-a"
                        most_recent_packet: {}
                      - id: "7fb64f47-c8gc-530g-9d3f-e647dbc8219a"
                        name: "Device 2"
                        created_ts: 1609459200
                        tags:
                          location: "warehouse-b"
                        most_recent_packet: {}
        '400':
          $ref: '#/components/responses/ErrorBadRequest'
        '500':
          $ref: '#/components/responses/ErrorInternalServer'

    delete:
      tags:
        - Devices
      operationId: batch-delete-devices
      x-criticality: high
      summary: Batch Delete Devices
      description: |
        Delete multiple registered devices from your organization in a single request.
        
        **Required Scope:** `write-devices`
        
        ## Overview
        - A maximum of 1000 devices can be deleted in a single request.
        - Each delete is idempotent. In the event of an internal error (i.e. `5xx`) some deletions may be applied and others may not. The whole request can be retried again to ensure a consistent deletion across the batch.
      parameters:
        - $ref: '#/components/parameters/orgIdPathParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - device_ids
              properties:
                device_ids:
                  type: array
                  description: Array of device IDs to delete, up to 1000.
                  items:
                    $ref: '#/components/schemas/deviceId'
            examples:
              deleteMultipleDevices:
                value:
                  device_ids:
                    - "6ea53e36-b7fb-429f-8c2e-d536cab71089"
                    - "7fb64f47-c8gc-530g-9d3f-e647dbc8219a"
                    - "8gc75g58-d9hd-641h-0e4g-f758ecd932b0"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/ErrorBadRequest'
        '500':
          $ref: '#/components/responses/ErrorInternalServer'

  /v1/org/{org_id}/devices/{device_id}:
    get:
      tags:
        - Devices
      operationId: get-device
      x-criticality: high
      summary: Get Device
      description: |
        Return a specific registered device belonging to your organization.

        **Required Scope:** `read-devices`
      parameters:
        - $ref: '#/components/parameters/orgIdPathParam'
        - $ref: '#/components/parameters/deviceIdPathParam'
      responses:
        '200':
          description: Device
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organizationDevice'
        '400':
          $ref: '#/components/responses/ErrorBadRequest'
        '500':
          $ref: '#/components/responses/ErrorInternalServer'

    patch:
      tags:
        - Devices
      operationId: update-device
      x-criticality: high
      summary: Update Device
      description: |
        Update a registered device belonging to your organization.

        **Required Scope:** `write-devices`
      parameters:
        - $ref: '#/components/parameters/orgIdPathParam'
        - $ref: '#/components/parameters/deviceIdPathParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                set_name:
                  $ref: '#/components/schemas/deviceName'
                set_tags:
                  $ref: '#/components/schemas/deviceTags'
                set_install_location:
                  $ref: '#/components/schemas/installLocation'
                set_destination_org_id:
                  type: string
                  format: uuid
                  description: |
                    Reassign this device to another organization. The destination
                    must be this organization's paired sandbox/production partner
                    (created via the create-sandbox-org flow) - reassignment
                    between unpaired orgs is rejected.

                    Cannot be combined with `set_name`, `set_tags`,
                    `set_install_location`, or `set_deploy` in the same request.

                    This moves the device's encryption keys and network-ID
                    lookups to the destination org and updates its `_env` tag to
                    match (`sandbox` or `production`). Packet history and device
                    history are **not** moved - they remain associated with the
                    device in the source organization. If the destination is
                    the sandbox org, its device-count cap is enforced.
                  example: "123e4567-e89b-12d3-a456-426614174000"
      responses:
        '200':
          description: Updated Device
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organizationDevice'
        '400':
          $ref: '#/components/responses/ErrorBadRequest'
        '500':
          $ref: '#/components/responses/ErrorInternalServer'

    delete:
      tags:
        - Devices
      operationId: delete-device
      x-criticality: high
      summary: Delete Device
      description: |
        Delete a registered device from your organization.
        
        **Required Scope:** `write-devices`
      parameters:
        - $ref: '#/components/parameters/orgIdPathParam'
        - $ref: '#/components/parameters/deviceIdPathParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/ErrorBadRequest'
        '500':
          $ref: '#/components/responses/ErrorInternalServer'
        
  /v1/org/{org_id}/packets:
    get:
      tags:
        - Packets
      operationId: retrieve-organization-packets
      x-criticality: high
      summary: Retrieve Organization Packets
      description: |
        Stream or query packets for your organization.
        
        **Required Scope:** `read-packets`
        
        ## Overview
        This endpoint acts as a data stream. Use the `Continuation-Token` to track your consumer's position in the stream and ingest incrementally.
        Packets are returned in ascending order based on when they were detected by Hubble Network.

        ## Pagination and Streaming
        Use the `Continuation-Token` to capture new packets incrementally. 
        If provided, all other query parameters are ignored, as the token persists the initial query's configuration.
        
        ### Response Headers
        * `Continuation-Token`: provided if more packets are available. The max page size is 1,000 packets. An empty string indicates there are no new packets in the stream.
        * `Retry-After`: if the stream is empty, this integer provides the recommended number of seconds to wait before your next poll request (max value is 300 seconds).
                
        ## Query Parameters (Initial Request)
        When starting a new stream (no `Continuation-Token` exists) or to query for data from a period of time, use these parameters to begin polling:

        ### Time Period (UTC, in seconds)
        * `start` time defaults to 7 days ago when not specified. 
        * Omit `end` time to leave the stream open and poll for new packets as they become available.

        :::tip
        Granular packet data is available up to **30 days** in the past.
        :::
        
        ### Device Filtering
        * When `device_id` is provided, only packets from that device will be returned. 
        * Note: you cannot page indefinitely for single-device queries. The stream closes when it reaches current time.

        :::warning
        Device filtering is provided for troubleshooting. It should not be used for high-volume data retrieval.
        :::

        ### Tag Filtering
        * You may filter packet data by device **platform tags**: `_env:production`, `_env:sandbox`. 
        * **Custom tags are not currently supported.**

        ---

        ## Packet Data Definitions (Response)

        ### Location Object
        For **TERRESTRIAL** packets, all `location` fields represent the scanning gateway's most recent GPS lock:
        * `location.timestamp` is the timestamp of the location lock.
        * `location.latitude` and `location.longitude` are the location coordinates.
        * `location.horizontal_accuracy` and `location.vertical_accuracy` represent accuracy variance in meters.

        For **SATELLITE** packets, `location.timestamp` and `device.timestamp` are identical: both represent the time the packet was detected by the satellite.

        ### Device Object
        For **TERRESTRIAL** packets,
        * `device.timestamp` is the timestamp when the data packet was detected by the gateway.
        * `device.rssi` is the received signal strength measured by the gateway.

        ### Gateway Object
        For **self-provided** packets (packets your organization contributed and is also reading back, i.e. `provider_id == org_id`), the response optionally includes a top-level `gateway` object. These fields describe the **scanning gateway** that received the BLE advertisement.
        * `gateway.gateway_id` is the stable gateway UUID issued by Hubble when you register using the Gateway API.
        * `gateway.service_id` is the normalized 16-bit service UUID from the scanned BLE advertisement (e.g. `fca6`).

        :::note
        The `gateway` block is **omitted entirely** for packets sourced from a different organization (e.g. third-party crowdsourced traffic), and is also omitted on self-provided packets when no gateway context was attached at ingest.
        :::

      parameters:
        - $ref: '#/components/parameters/orgIdPathParam'
        - $ref: '#/components/parameters/continuationTokenHeader'
        - $ref: '#/components/parameters/startQueryParam'
        - $ref: '#/components/parameters/endQueryParam'
        - $ref: '#/components/parameters/deviceIdQueryParam'
        - $ref: '#/components/parameters/filterTagsQueryParam'
      responses:
        '200':
          description: A page of packets
          headers:
            'Continuation-Token':
              $ref: '#/components/headers/ContinuationTokenHeader'
            'Retry-After':
              $ref: '#/components/headers/RetryAfterHeader'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/packetBatch'
        '429':
          description: An error when too many requests have been made to retrieve packets
          headers:
            'Continuation-Token':
              $ref: '#/components/headers/ContinuationTokenHeader'
            'Retry-After':
              $ref: '#/components/headers/RetryAfterHeader'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        '400':
          $ref: '#/components/responses/ErrorBadRequest'
        '500':
          $ref: '#/components/responses/ErrorInternalServer'

  /v1/webhook/testBatch:
    post:
      tags:
        - Packets
      operationId: packet-webhook-example
      x-criticality: high
      summary: Packet Webhook Example
      description: |
        This endpoint is an example webhook endpoint that each organization can implement in order to receive packet data.
        Packet data that has been decrypted for your organization will be forwarded to these webhooks.
        
        ### Batching
        Packets are sent in batches to minimize HTTP overhead from sending packets individually.
        Batch sizes are configurable per webhook endpoint. 
        The actual number of packets per request will range between 1 and the configured `max_batch_size`.
      parameters:
        - $ref: '#/components/parameters/contentTypeJsonHeader'
        - $ref: '#/components/parameters/webhookSecretHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/packetBatch'
      responses:
        '200':
          description: Message delivered.
        '500':
          description: Internal Server Error. Please Retry.
          
  /v1/org/{org_id}/api_metrics:
    get:
      tags:
        - Platform Metrics
      operationId: get-api-metrics
      x-criticality: medium
      summary: Get Organization API Metrics
      description: |
        Retrieves API request metrics including total requests, success rate, and time interval-based breakdowns.
        
        **Required Scope:** `read-platform-metrics`
      parameters:
        - $ref: '#/components/parameters/orgIdPathParam'
        - $ref: '#/components/parameters/metricsDaysBackQueryParam'
        - $ref: '#/components/parameters/metricsTimeIntervalQueryParam'
      responses:
        '200':
          description: Successfully retrieved API metrics
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_requests:
                    type: integer
                    description: Total number of API requests in the time period
                  success_rate:
                    $ref: '#/components/schemas/metricsSuccessRate'
                  buckets:
                    type: array
                    description: Hourly breakdown of metrics
                    items:
                      type: object
                      properties:
                        timestamp:
                          type: string
                          format: date-time
                          description: Start of the hour in ISO 8601 format
                        total_requests:
                          type: integer
                          description: Number of requests in this hour
                        success_rate:
                          $ref: '#/components/schemas/metricsSuccessRate'
        '400':
          $ref: '#/components/responses/ErrorBadRequest'
        '500':
          $ref: '#/components/responses/ErrorInternalServer'

  /v1/org/{org_id}/packet_metrics:
    get:
      tags:
        - Platform Metrics
      operationId: get-packet-metrics
      x-criticality: medium
      summary: Get Organization Packet Metrics
      description: |
        Retrieves packet metrics across a time range providing totals and time interval-based breakdowns.
        
        **Required Scope:** `read-platform-metrics`
      parameters:
        - $ref: '#/components/parameters/orgIdPathParam'
        - $ref: '#/components/parameters/metricsDaysBackQueryParam'
        - $ref: '#/components/parameters/metricsTimeIntervalQueryParam'
        - $ref: '#/components/parameters/filterTagsQueryParam'
      responses:
        '200':
          description: Successfully retrieved packet metrics
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_packets:
                    type: integer
                    description: Total number of packets in the time period
                  buckets:
                    type: array
                    description: A breakdown of packet metrics per time_interval
                    items:
                      type: object
                      properties:
                        timestamp:
                          $ref: '#/components/schemas/formattedTimestamp'
                        total_packets:
                          type: integer
                          description: Number of packets in this time_interval
        '400':
          $ref: '#/components/responses/ErrorBadRequest'
        '500':
          $ref: '#/components/responses/ErrorInternalServer'

  /v1/org/{org_id}/webhook_metrics:
    get:
      tags:
        - Platform Metrics
      operationId: get-webhook-metrics
      x-criticality: medium
      summary: Get Organization Webhook Metrics
      description: |
        Retrieves webhook metrics including total requests, success rate, and time interval-based breakdowns for webhook events.
        
        **Required Scope:** `read-platform-metrics`
      parameters:
        - $ref: '#/components/parameters/orgIdPathParam'
        - $ref: '#/components/parameters/metricsDaysBackQueryParam'
        - $ref: '#/components/parameters/metricsTimeIntervalQueryParam'
      responses:
        '200':
          description: Successfully retrieved webhook metrics
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_requests:
                    type: integer
                    description: Total number of webhook requests in the time period
                  success_rate:
                    $ref: '#/components/schemas/metricsSuccessRate'
                  buckets:
                    type: array
                    description: Hourly breakdown of webhook metrics
                    items:
                      type: object
                      properties:
                        timestamp:
                          $ref: '#/components/schemas/formattedTimestamp'
                        total_requests:
                          type: integer
                          description: Number of webhook requests in this hour
                        success_rate:
                          $ref: '#/components/schemas/metricsSuccessRate'
        '400':
          $ref: '#/components/responses/ErrorBadRequest'
        '500':
          $ref: '#/components/responses/ErrorInternalServer'

  /v1/org/{org_id}/device_metrics:
    get:
      tags:
        - Platform Metrics
      operationId: get-device-metrics
      x-criticality: medium
      summary: Get Organization Device Metrics
      description: |
        Retrieves metrics for active, never active, and total registered devices over time.

        ### Most Recent/Partial Bucket 
        The most recent bucket, the partial bucket, is not calculated on this endpoint except for when using the hourly time interval.
        For parsing/syntax consistency, this bucket is still returned with a timestamp and empty values for the active, registered, and never active devices values.
        
        **Required Scope:** `read-platform-metrics`
      parameters:
        - $ref: '#/components/parameters/orgIdPathParam'
        - $ref: '#/components/parameters/metricsDaysBackQueryParam'
        - $ref: '#/components/parameters/metricsTimeIntervalQueryParam'
        - $ref: '#/components/parameters/filterTagsQueryParam'
      responses:
        '200':
          description: Successfully retrieved device metrics
          content:
            application/json:
              schema:
                type: object
                properties:
                  buckets:
                    type: array
                    description: Hourly breakdown of device metrics
                    items:
                      type: object
                      properties:
                        timestamp:
                          $ref: '#/components/schemas/formattedTimestamp'
                        registered_devices:
                          type: integer
                          description: |
                            The total number of registered devices at the end of this interval.
                        active_devices:
                          type: number
                          description: |
                            The number of active devices during this interval.
                            Active devices are those that have successfully transmitted a packet.
                            Because of the ingestion delays, recent windows metrics may still be accumulating new active devices.
                        never_active_devices:
                          type: number
                          description: |
                            The number of never active devices during this interval.
                            Never active devices are devices registered to your organization awaiting first transmission.
                  total_active_devices:
                    type: number
                    description: |
                      The total number of active devices across the queried time range.
                      Active devices are those that have successfully transmitted a packet.
                  total_registered_devices:
                    type: number
                    description: |
                      The total number of devices registered for the organization.
                  total_never_active_devices:
                    type: number
                    description: |
                      The total number of never active devices across the queried time range.
                      Never active devices are devices registered to your organization awaiting first transmission.
                      

        '400':
          $ref: '#/components/responses/ErrorBadRequest'
        '500':
          $ref: '#/components/responses/ErrorInternalServer'

  /v1/org/{org_id}/users:
    get:
      tags:
        - Organizations
      operationId: list-users-in-organization
      x-criticality: medium
      summary: List Organization Users
      description: |
        Page through users in an organization.
        
        **Required Scope:** `read-users`
      parameters:
        - $ref: '#/components/parameters/orgIdPathParam'
        - $ref: '#/components/parameters/pageNumberQueryParam'
        - $ref: '#/components/parameters/pageSizeQueryParam'
      responses:
        '200':
          description: A page of users from an organization
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      $ref: '#/components/schemas/organizationUser'
        '400':
          $ref: '#/components/responses/ErrorBadRequest'
        '500':
          $ref: '#/components/responses/ErrorInternalServer'

    post:
      tags:
        - Organizations
      operationId: add-user-to-organization
      x-criticality: medium
      summary: Add User to Organization
      description: |
        Add a user to the organization. 
        This endpoint directly adds the user to the organization and does not create an invitation.
        
        **Required Scope:** `write-users`
      parameters:
        - $ref: '#/components/parameters/orgIdPathParam'
        - $ref: '#/components/parameters/contentTypeJsonHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - role
              properties:
                email:
                  type: string
                  format: email
                  description: Email address of the user to add
                role:
                  $ref: '#/components/schemas/userRole'
                  description: Role to assign to the user in the organization
              example:
                email: "newuser@example.com"
                role: "member"
      responses:
        '200':
          description: User added successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organizationUser'
        '400':
          $ref: '#/components/responses/ErrorBadRequest'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '500':
          $ref: '#/components/responses/ErrorInternalServer'

  /v1/org/{org_id}/users/{user_id}:
    patch:
      tags:
        - Organizations
      operationId: update-user-in-organization
      x-criticality: medium
      summary: Update User in Organization
      description: |
        Update a user's metadata and/or role in the organization.
        
        **Required Scope:** `write-users`
      parameters:
        - $ref: '#/components/parameters/orgIdPathParam'
        - $ref: '#/components/parameters/userIdPathParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request body for updating a user in an organization
              properties:
                set_first_name:
                  type: string
                  maxLength: 250
                  description: Update the user's first name
                set_last_name:
                  type: string
                  maxLength: 250
                  description: Update the user's last name
                set_role:
                  $ref: '#/components/schemas/userRole'
                  description: Update the user's role in the organization
              example:
                set_first_name: "John"
                set_last_name: "Doe"
                set_role: "admin"
      responses:
        '200':
          description: User updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organizationUser'
        '400':
          $ref: '#/components/responses/ErrorBadRequest'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '500':
          $ref: '#/components/responses/ErrorInternalServer'

    delete:
      tags:
        - Organizations
      operationId: delete-user-from-organization
      x-criticality: medium
      summary: Delete User from Organization
      description: |
        Remove a user from the organization.
        
        **Required Scope:** `write-users`
      parameters:
        - $ref: '#/components/parameters/orgIdPathParam'
        - $ref: '#/components/parameters/userIdPathParam'
      responses:
        '200':
          description: User successfully deleted from organization
          content:
            application/json:
              schema:
                type: object
                description: Empty response object
                example: {}
        '400':
          $ref: '#/components/responses/ErrorBadRequest'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '500':
          $ref: '#/components/responses/ErrorInternalServer'

  /v1/org/{org_id}/invitations:
    get:
      tags:
        - Organizations
      operationId: list-pending-invites
      x-criticality: medium
      summary: List Pending Invites
      description: |
        Page through pending invites to an organization.
        
        **Required Scope:** `read-invitations`
      parameters:
        - $ref: '#/components/parameters/orgIdPathParam'
        - $ref: '#/components/parameters/pageNumberQueryParam'
        - $ref: '#/components/parameters/pageSizeQueryParam'
      responses:
        '200':
          description: A page of pending invites from an organization
          content:
            application/json:
              schema:
                type: object
                properties:
                  invites:
                    type: array
                    items:
                      $ref: '#/components/schemas/invitation'
                  total_invites:
                    type: integer
                    description: Total number of pending invites
        '400':
          $ref: '#/components/responses/ErrorBadRequest'
        '500':
          $ref: '#/components/responses/ErrorInternalServer'

    post:
      tags:
        - Organizations
      operationId: invite-user-to-organization
      x-criticality: medium
      summary: Invite User to Organization
      description: |
        Invite a user to join the organization.
        
        **Required Scope:** `write-invitations`
      parameters:
        - $ref: '#/components/parameters/orgIdPathParam'
        - $ref: '#/components/parameters/contentTypeJsonHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - invitee_email
                - role
              properties:
                invitee_email:
                  type: string
                  format: email
                  description: Email address of the user to invite
                role:
                  $ref: '#/components/schemas/userRole'
                  description: Role to assign to the invited user
      responses:
        '200':
          description: Invitation successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invitation'
        '400':
          $ref: '#/components/responses/ErrorBadRequest'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '500':
          $ref: '#/components/responses/ErrorInternalServer'

    delete:
      tags:
        - Organizations
      operationId: delete-invitation
      x-criticality: medium
      summary: Delete Invitation
      description: |
        Revoke a pending invitation to the organization.
        
        **Required Scope:** `write-invitations`
      parameters:
        - $ref: '#/components/parameters/orgIdPathParam'
        - $ref: '#/components/parameters/contentTypeJsonHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - invitee_email
              properties:
                invitee_email:
                  type: string
                  format: email
                  description: Email address of the user whose invitation to revoke
      responses:
        '200':
          description: Invitation successfully revoked
          content:
            application/json:
              schema:
                type: object
                example: {}
        '400':
          $ref: '#/components/responses/ErrorBadRequest'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '500':
          $ref: '#/components/responses/ErrorInternalServer'


  /v1/org/{org_id}/webhooks:
    post:
      tags:
        - Packet Webhooks
      operationId: create-webhook-endpoint
      x-criticality: high
      summary: Create a Webhook Endpoint
      description: |
        Register an endpoint that can receive webhook events for packet data.
        
        **Required Scope:** `write-webhooks`
      parameters:
        - $ref: '#/components/parameters/orgIdPathParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  $ref: '#/components/schemas/webhookURL'
                max_batch_size:
                  $ref: '#/components/schemas/webhookMaxBatchSize'
                name:
                  $ref: '#/components/schemas/webhookName'
      responses:
        '200':
          description: A registered webhook endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webhookWithSecret'
        '400':
          $ref: '#/components/responses/ErrorBadRequest'
        '500':
          $ref: '#/components/responses/ErrorInternalServer'

    get:
      tags:
        - Packet Webhooks
      operationId: list-registered-webhooks
      x-criticality: high
      summary: List Registered Webhooks
      description: |
        Retrieve a list of registered webhooks.
        
        **Required Scope:** `read-webhooks`
      parameters:
        - $ref: '#/components/parameters/orgIdPathParam'
      responses:
        '200':
          description: A list of registered webhook endpoints
          content:
            application/json:
              schema:
                type: object
                properties:
                  webhooks:
                    type: array
                    items:
                      $ref: '#/components/schemas/basicWebhook'
        '400':
          $ref: '#/components/responses/ErrorBadRequest'
        '500':
          $ref: '#/components/responses/ErrorInternalServer'

  /v1/org/{org_id}/webhooks/{webhook_id}:
    patch:
      tags:
        - Packet Webhooks
      operationId: update-webhook-endpoint
      x-criticality: high
      summary: Update a Webhook Endpoint
      description: |
        Update certain fields of a webhook endpoint.
        
        **Required Scope:** `write-webhooks`
      parameters:
        - $ref: '#/components/parameters/orgIdPathParam'
        - $ref: '#/components/parameters/webhookIdPathParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                set_name:
                  $ref: '#/components/schemas/webhookName'
                set_max_batch_size:
                  $ref: '#/components/schemas/webhookMaxBatchSize'
                set_url:
                  $ref: '#/components/schemas/webhookURL'
      responses:
        '200':
          description: The updated webhook endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/basicWebhook'
        '400':
          $ref: '#/components/responses/ErrorBadRequest'
        '500':
          $ref: '#/components/responses/ErrorInternalServer'

    delete:
      tags:
        - Packet Webhooks
      operationId: delete-webhook-endpoint
      x-criticality: high
      summary: Delete a Webhook Endpoint
      description: |
        Delete a webhook endpoint.
        
        **Required Scope:** `write-webhooks`
        Delete a webhook endpoint so that it will stop receiving traffic.
      parameters:
        - $ref: '#/components/parameters/orgIdPathParam'
        - $ref: '#/components/parameters/webhookIdPathParam'
      responses:
        '200':
          description: The webhook has been deleted
          content:
            application/json:
              schema:
                type: object
                description: an empty object for now
        '400':
          $ref: '#/components/responses/ErrorBadRequest'
        '500':
          $ref: '#/components/responses/ErrorInternalServer'


  /v1/org/{org_id}/webhooks/{webhook_id}/test:
    post:
      tags:
        - Packet Webhooks
      operationId: test-webhook-endpoint
      x-criticality: high
      summary: Send a Test Webhook
      description: |
        Send an example packet batch to the configured webhook URL to test webhook delivery
        (connectivity, authentication, and response handling). Uses the same request shape as
        live delivery (JSON packet batch plus `HTTP-X-HUBBLE-TOKEN` when a secret is configured).
        The example packet is ephemeral and is not persisted after one attempt.

        **Required Scope:** `write-webhooks`
      parameters:
        - $ref: '#/components/parameters/orgIdPathParam'
        - $ref: '#/components/parameters/webhookIdPathParam'
      responses:
        '200':
          description: Result of the test webhook delivery attempt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/testWebhookResponse'
        '400':
          $ref: '#/components/responses/ErrorBadRequest'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '500':
          $ref: '#/components/responses/ErrorInternalServer'


  /v1/org/{org_id}/billing/invoices:
    get:
      tags:
        - Billing
      operationId: get-recent-invoices
      x-criticality: medium
      summary: Get Recent Invoices
      description: |
        Retrieve the most recent invoices for your organization.
        
        **Required Scope:** `read-billing-invoices`
      parameters:
        - $ref: '#/components/parameters/orgIdPathParam'
      responses:
        '200':
          description: A page of invoices
          content:
            application/json:
              schema:
                type: object
                properties:
                  invoices:
                    type: array
                    items:
                      type: object
                      properties:
                        invoice_id:
                          type: string
                          description: the primary id for the invoice
                        invoice_number:
                          type: string
                          description: |
                            Customer-facing invoice number (e.g. Stripe `number`), matching what appears on the PDF.
                        issue_timestamp:
                          $ref: '#/components/schemas/utcTimestampNumber'
                        due_timestamp:
                          $ref: '#/components/schemas/utcTimestampNumber'
                        status:
                          type: string
                          enum:
                            - DRAFT
                            - PENDING
                            - COMPLETED
                          description: |
                            A status for the invoice. 
                            The invoice starts as a DRAFT and then transitions to PENDING when it is ready to be paid.
                            A fully paid invoice is then COMPLETED.
                        total_balance:
                          type: number
                          format: float
                          description: |
                            The total balance amount on the invoice. The value is based on the organization's currency.
                        remaining_balance:
                          type: number
                          format: float
                          description: |
                            The remaining balance due on the invoice. The value is based on the organization's currency.
        '400':
          $ref: '#/components/responses/ErrorBadRequest'
        '500':
          $ref: '#/components/responses/ErrorInternalServer'

  /v1/org/{org_id}/billing/invoices/{invoice_id}/pdf:
    get:
      tags:
        - Billing
      operationId: get-invoice-pdf
      x-criticality: medium
      summary: Get Invoice PDF
      description: |
        Retrieve an invoice PDF.
        
        **Required Scope:** `read-billing-invoices`
      parameters:
        - $ref: '#/components/parameters/orgIdPathParam'
        - name: invoice_id
          in: path
          required: true
          schema:
            type: string
          description: The primary key for an invoice
      responses:
        '200':
          description: A PDF document for an invoice
          content:
            application/pdf:
              schema:
                type: string
                format: binary
                description: the PDF contents
        '400':
          $ref: '#/components/responses/ErrorBadRequest'
        '500':
          $ref: '#/components/responses/ErrorInternalServer'

  /v1/org/{org_id}/billing/usage:
    get:
      tags:
        - Billing
      operationId: get-billing-usage
      x-criticality: medium
      summary: Get Billing Usage
      description: |
        Retrieve the most recent billing usage for your organization.

        **Required Scope:** `read-billing-usage`
      parameters:
        - $ref: '#/components/parameters/orgIdPathParam'
      responses:
        '200':
          description: A page of usage
          content:
            application/json:
              schema:
                type: object
                properties:
                  usage:
                    type: array
                    items:
                      type: object
                      properties:
                        usage_timestamp:
                          $ref: '#/components/schemas/formattedTimestamp'
                        usage_type:
                          type: string
                          enum:
                            - Daily Active Devices
                            - Monthly Active Devices
                          description: |
                            The type of usage recorded.
                        usage_value:
                          type: integer
                          description: |
                            The usage value for this type and timestamp.
        '400':
          $ref: '#/components/responses/ErrorBadRequest'
        '500':
          $ref: '#/components/responses/ErrorInternalServer'

  /v1/org/{org_id}/billing/active-devices:
    get:
      tags:
        - Billing
      operationId: get-billing-active-devices
      x-criticality: medium
      summary: List active devices for the current billing period
      description: |
        Returns the paginated list of devices that were active during the organization's
        current Stripe billing period. A device is considered active if its most recent
        packet timestamp falls within the period.

        Use the `Continuation-Token` header for cursor-based pagination (same pattern as
        `GET /v1/org/{org_id}/devices`).

        **Required Scope:** `read-billing-usage`
      parameters:
        - $ref: '#/components/parameters/orgIdPathParam'
        - $ref: '#/components/parameters/continuationTokenHeader'
        - $ref: '#/components/parameters/limitQueryParam'
        - name: network_type
          in: query
          required: false
          schema:
            type: string
            enum: [terrestrial, satellite]
          description: |
            Filter devices by network type. Omit to include all network types.
            Requesting `satellite` requires the organization to have satellite access.
      responses:
        '200':
          description: Active devices for the billing period
          headers:
            Continuation-Token:
              $ref: '#/components/headers/ContinuationTokenHeader'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingActiveDevicesResponse'
        '400':
          $ref: '#/components/responses/ErrorBadRequest'
        '403':
          $ref: '#/components/responses/ErrorForbidden'
        '500':
          $ref: '#/components/responses/ErrorInternalServer'

  /v1/org/{org_id}/billing/subscription:
    get:
      tags:
        - Billing
      operationId: get-billing-subscription
      x-criticality: medium
      summary: Get current subscription / plan
      description: |
        Returns the organization's current self-serve subscription snapshot from Stripe (plan tier, status, billing period fields).

        Timestamps are **Hubble unix-microsecond** integers (not Stripe's second-precision Unix times).

        **Required Scope:** `read-billing-invoices`
      parameters:
        - $ref: '#/components/parameters/orgIdPathParam'
      responses:
        '200':
          description: Subscription snapshot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingSubscription'
        '403':
          $ref: '#/components/responses/ErrorForbidden'
        '500':
          $ref: '#/components/responses/ErrorInternalServer'

  /v1/org/{org_id}/billing/payment-method:
    get:
      tags:
        - Billing
      operationId: get-billing-payment-method
      x-criticality: medium
      summary: List saved card payment methods
      description: |
        Returns every **card** payment method attached to the org's Stripe customer (self-serve; no manual Dashboard "invoice default" required).

        `default_payment_method_id` is the Stripe Customer's **invoice** default (`pm_...`) when set; it may be empty even when `payment_methods` is non-empty.

        **Required Scope:** `read-billing-invoices`
      parameters:
        - $ref: '#/components/parameters/orgIdPathParam'
      responses:
        '200':
          description: Saved cards (empty array if none)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingPaymentMethodsResponse'
        '403':
          $ref: '#/components/responses/ErrorForbidden'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '500':
          $ref: '#/components/responses/ErrorInternalServer'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    orgIdPathParam:
      name: org_id
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/orgId'
      description: Your organization ID

    deviceIdPathParam:
      name: device_id
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/deviceId'

    deviceKeyFormatQueryParam:
      name: key_format
      in: query
      required: false
      schema:
        type: string
        enum: [base64, hex]
        default: base64
      description: |
        Encoding for `device.key` in the response. `base64` (default) returns standard Base64;
        `hex` returns a lowercase hexadecimal string.

    webhookIdPathParam:
      name: webhook_id
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/webhookId'

    userIdPathParam:
      name: user_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: The ID of the user

    limitQueryParam:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        maximum: 1000
        minimum: 10
        default: 250
      description: A limit for the page size of devices

    filterCreatedTSQueryParam:
      name: filter_created_ts
      in: query
      required: false
      schema:
        type: string
      description: |
        Filter devices by creation timestamp (e.g., filter_created_ts=between:1000:2000)
        Timestamps are in seconds since the Unix epoch.
        The only supported filtering operator currently is `between`. 

    filterMostRecentPacketTSQueryParam:
      name: filter_most_recent_packet_ts
      in: query
      required: false
      schema:
        type: string
      description: | 
        Filter devices by most recent packet timestamp (e.g., filter_most_recent_packet_ts=between:1000:2000)
        Timestamps are in seconds since the Unix epoch.
        The most recent packet value is only updated periodically.
        The only supported filtering operator currently is `between`. 

    sortFieldQueryParam:
      name: sort_field
      in: query
      required: false
      schema:
        type: string
        enum: [created_ts, most_recent_packet_ts]
      description: Field to sort devices by

    sortAscendingQueryParam:
      name: sort_ascending
      in: query
      required: false
      schema:
        type: boolean
        default: true
      description: Sort order (true for ascending, false for descending)

    continuationTokenHeader:
      name: Continuation-Token
      in: header
      required: false
      schema:
        type: string
      description: A token to indicate how to continue paging

    contentTypeJsonHeader:
      name: Content-Type
      in: header
      schema:
        type: string
      description: An indication that the payload is JSON
      example: application/json

    webhookSecretHeader:
      name: HTTP-X-HUBBLE-TOKEN
      in: header
      required: true
      schema:
        $ref: '#/components/schemas/webhookSecret'
      description: |
        A confidential, unique string generated for your webhook endpoint to validate that the request came from Hubble.

    startQueryParam:
      name: start
      in: query
      required: false
      schema:
        $ref: '#/components/schemas/utcTimestampInteger'
      description: |
        UTC timestamp (in seconds) indicating when to start retrieving packets. 
        This timestamp corresponds to when the packet was received by the network.
        If omitted, defaults to 7 days before the current UTC time.

    endQueryParam:
      name: end
      in: query
      required: false
      schema:
        $ref: '#/components/schemas/utcTimestampInteger'
      description: |
        UTC timestamp (in seconds) indicating when to end retrieving packets.
        This timestamp corresponds to when the packet was received by the network.
        If omitted, defaults to empty (meaning the pagination will continue indefinitely).
        If specified, pagination will continue until all packets received prior to the timestamp have been returned.

    deviceIdQueryParam:
      name: device_id
      in: query
      required: false
      schema:
        $ref: '#/components/schemas/deviceId'
      description: |
        Filter packets to a specific device

    retryAfterHeader:
      name: Retry-After
      in: header
      required: false
      schema:
        type: integer
        minimum: 0
        maximum: 300
      description: |
        The number of seconds to wait to attempt a retry.
        When attached to a 200, this is a suggestion because the most recent data has been retrieved already.
        When attached to a 429, this delay is a recommendation to reduce repeat 429s.

    pageNumberQueryParam:
      name: page_number
      in: query
      required: false
      schema:
        type: integer
        minimum: 0
        default: 0
      description: The page number of items to return

    pageSizeQueryParam:
      name: page_size
      in: query
      required: false
      schema:
        type: integer
        minimum: 5
        maximum: 100
        default: 10
      description: The maximum number of items to return in a single request

    metricsDaysBackQueryParam:
      name: days
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 365
        default: 1
      description: |
        The number of days of metrics to include in the request.
        
        The maximum value is further restricted when small `time_interval` values are used.
        The maximum number of total metric buckets is 365.

    metricsTimeIntervalQueryParam:
      name: time_interval
      in: query
      required: false
      schema:
        type: string
        enum:
          - hour
          - day
          - month
      description: |
        The time interval for the metric buckets.
        If not provided, a default value is selected based on the `days` parameter:
        
        | days        | time_interval |
        | ----------- | ------------- |
        | [1 => 1)    | hour          |
        | [2 => 31]   | day           |
        | [32 => 365] | month         |
        
        **Partial buckets:** The most recent bucket of metrics is a "partial" bucket depending on the interval - partial because it doesn't span a full time_interval yet. 
        (e.g. 10:00pm -> 10:36pm for `hour`, June 3rd 12:00am -> June 3rd 10:36pm for `day`, June 1st 12:00am -> June 3rd 10:36pm for `month`).
        The older buckets are always "complete" buckets.
        (e.g. 09:00pm -> 10:00pm for `hour`, June 2nd 12:00am -> June 3rd 12:00am for `day`, May 1st 12:00am -> June 1st 12:00am for `month`).
        
        **Edge cases:** If `days` is not large enough to include a full `month` bucket, days is increased in the backend. 
        For example, querying days=90 with a `month` time_interval on June 13th, 2025 will return "complete" March, April, and May buckets and a "partial" June bucket.
        Similarly, when querying for days=7 with a `day` time_interval on June 13th, 2025 at 6:00am will return "complete" June 6th, 7th, 8th, 9th, 10th, 11th, and 12th buckets and a "partial" June 13th bucket.

    filterTagsQueryParam:
      name: filter_tags
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
          description: | 
            A tag to match against. For example: _env:production.
      description: |
        A set of device **platform tags** specifying which packets to include.
        Only platform tags are queryable: `_env:production`, `_env:sandbox`.
        The query param can be used multiple times to form a list of tags.
        Packet matching criteria uses AND logic when different tag keys are used in a list of tags, and OR logic when the same tag key is used more than once.

  headers:
    ContinuationTokenHeader:
      description: A token to indicate how to continue paging
      schema:
        type: string

    RetryAfterHeader:
      description: |
        The number of seconds to wait to attempt a retry.
        When attached to a 200, this is a suggestion because the most recent data has been retrieved already.
        When attached to a 429, this delay is a recommendation to reduce repeat 429s.
      schema:
        type: integer
        minimum: 0
        maximum: 300

  schemas:
    orgId:
      type: string
      format: uuid
      description: The ID for an organization

    BillingSubscription:
      type: object
      required:
        - plan
        - status
      properties:
        plan:
          type: string
          enum:
            - GROWTH
            - SCALE
            - ENTERPRISE
            - SANDBOX
        status:
          type: string
          description: Stripe subscription status, or `none` when there is no subscription.
        current_period_start:
          type: integer
          format: int64
          description: Start of the current billing period (Hubble unix-microsecond timestamp), if applicable.
        current_period_end:
          type: integer
          format: int64
          description: End of the current billing period (Hubble unix-microsecond timestamp), if applicable.
        next_payment_date:
          type: integer
          format: int64
          description: Approximate next charge date (Hubble unix-microsecond timestamp), if applicable.
        cancel_at_period_end:
          type: boolean
        prepaid_devices:
          type: integer
        price_monthly_cents:
          type: integer
          format: int64
        overage_per_device_cents:
          type: integer
          format: int64

    BillingPaymentMethodCard:
      type: object
      required:
        - id
        - type
      properties:
        id:
          type: string
          description: Stripe PaymentMethod id (`pm_...`)
        type:
          type: string
          example: card
        brand:
          type: string
          example: visa
        last4:
          type: string
        exp_month:
          type: integer
          format: int64
        exp_year:
          type: integer
          format: int64

    BillingPaymentMethodsResponse:
      type: object
      required:
        - payment_methods
      properties:
        payment_methods:
          type: array
          items:
            $ref: '#/components/schemas/BillingPaymentMethodCard'
        default_payment_method_id:
          type: string
          description: Customer invoice_settings.default_payment_method when set

    BillingActiveDevicesResponse:
      type: object
      required:
        - devices
        - period_start
        - period_end
      properties:
        devices:
          type: array
          items:
            $ref: '#/components/schemas/BillingActiveDevice'
        period_start:
          type: string
          format: date-time
          description: Start of the current billing period (ISO 8601).
        period_end:
          type: string
          format: date-time
          description: End of the current billing period (ISO 8601).

    BillingActiveDevice:
      type: object
      required:
        - device_id
        - name
      properties:
        device_id:
          type: string
          description: The device identifier.
        name:
          type: string
          description: The device display name.
        network_type:
          type: string
          enum: [terrestrial, satellite]
          description: The network on which the device was most recently active.
        last_active:
          type: number
          format: double
          description: Unix timestamp (seconds, fractional) of the device's most recent packet.

    apiKey:
      type: string
      description: An API key

    apiKeyName:
      type: string
      description: A name for an API Key
      maxLength: 250

    apiKeyId:
      type: string
      description: An ID for an API key

    apiKeyExpiration:
      type: integer
      format: int64
      description: |
        An UTC second-precision timestamp formatted as an integer.
        Can be set to 0 to indicate that there is no expiration.

    deviceName:
      type: string
      description: Assigned name for the device
      maxLength: 250

    deviceId:
      type: string
      format: uuid
      description: Primary UUID identifier for a registered device

    deviceTags:
      type: object
      additionalProperties:
        type: string
      description: |
        Tags are user-defined key/value pairs that can be attributed to a device. 
        A device may have up to 10 tags.
        **Custom tags:** create your own tags with `key` length up to 32 characters and `value` length up to 128 characters.
        **Platform tags:** use Hubble-defined tags to organize devices.
        - `_env` tag: `production` indicates if a device belongs to the live environment, and `sandbox` for the test environment. A device will always have an `_env` tag assigned.
      example:
        _env: production

    eidRotation:
      type: object
      description: |
        Configuration for EID (Ephemeral ID) rotation on a device.
        EID rotation allows devices to use rotating ephemeral identifiers based on the specified counter source.
        When not specified, devices will use the UNIX_TIME counter source which relies on the device knowing an accurate epoch time.
        The DEVICE_UPTIME counter source enables EID rotation without requiring a real-time clock.

      properties:
        counter_source:
          type: string
          enum: [UNIX_TIME, DEVICE_UPTIME]
          description: |
            The counter source used for EID rotation.
            * `UNIX_TIME` - Counter is based on the current Unix (epoch) time.
            * `DEVICE_UPTIME` - Counter is based on the device's uptime.
        period_exponent:
          type: integer
          minimum: 10
          maximum: 15
          default: 15
          description: |
            Base-2 exponent of the EID rotation period in seconds, used only with `encryption` of "AES-128-EAX" (IN100 protocol).
            Matches the IN100 hardware's configuration field. Must be between 10 (~17 minutes) and 15 (~9 hours) inclusive.

    utcTimestampNumber:
      type: number
      format: double
      description: An UTC second-precision timestamp formatted as a floating point number

    utcTimestampInteger:
      type: integer
      format: int64
      description: An UTC second-precision timestamp formatted as an integer

    formattedTimestamp:
      type: string
      format: date-time
      description: | 
        Start of the bucket in ISO 8601 format.
        For example: `2025-04-25T14:01:54Z`. 

    metricsSuccessRate:
      type: number
      format: float
      description: |
        Success rate of requests (0-1). 
        When total requests is 0, the success rate defaults to 1.0 or 100%.

    webhookId:
      type: string
      description: An identifier for a webhook

    webhookName:
      type: string
      description: A name/description for a webhook
      maxLength: 250

    webhookSecret:
      type: string
      description: | 
        A confidential, unique string generated for your webhook endpoint to validate that the request came from Hubble.
        Hubble will send this token in the HTTP header `HTTP-X-HUBBLE-TOKEN` when making HTTPS requests to your endpoint.

    webhookURL:
      type: string
      description: A webhook url
      maxLength: 2000

    webhookMaxBatchSize:
      type: integer
      description: The maximum number of packets that Hubble will batch into one webhook request
      default: 100
      minimum: 10
      maximum: 1000

    testWebhookResponse:
      type: object
      properties:
        success:
          type: boolean
          description: Whether the webhook endpoint returned a successful HTTP status code
        status_code:
          type: integer
          description: HTTP status code returned by the webhook endpoint, if a response was received
        error:
          type: string
          description: Error details when the test delivery failed

    legacyWebhook:
      type: object
      properties:
        url:
          $ref: '#/components/schemas/webhookURL'
        max_batch_size:
          $ref: '#/components/schemas/webhookMaxBatchSize'

    basicWebhook:
      type: object
      allOf:
        - $ref: '#/components/schemas/legacyWebhook'
        - type: object
          properties:
            webhook_id:
              $ref: '#/components/schemas/webhookId'
            org_id:
              $ref: '#/components/schemas/orgId'
            name:
              $ref: '#/components/schemas/webhookName'

    webhookWithSecret:
      type: object
      allOf:
        - $ref: '#/components/schemas/basicWebhook'
        - type: object
          properties:
            secret:
              $ref: '#/components/schemas/webhookSecret'

    userRole:
      type: string
      enum: [admin, member]
      description: The role a user is assigned within an organization

    organizationUser:
      type: object
      description: A user within an organization
      properties:
        user_id:
          type: string
          description: an id for the user
        email:
          type: string
          format: email
          description: the user's email address
        email_confirmed:
          type: boolean
          description: whether the user's email has been confirmed
        first_name:
          type: string
          description: the user's first name
        last_name:
          type: string
          description: the user's last name
        created_at:
          $ref: '#/components/schemas/utcTimestampInteger'
        last_active_at:
          $ref: '#/components/schemas/utcTimestampInteger'
        role:
          $ref: '#/components/schemas/userRole'

    invitation:
      type: object
      description: An invitation to join an organization
      required:
        - invitee_email
        - role
        - created_at
        - expires_at
      properties:
        invitee_email:
          type: string
          format: email
          description: Email address of the invited user
        inviter_email:
          type: string
          format: email
          description: Email address of the user who sent the invitation
        created_at:
          $ref: '#/components/schemas/utcTimestampInteger'
          description: Timestamp when the invitation was created
        expires_at:
          $ref: '#/components/schemas/utcTimestampInteger'
          description: Timestamp when the invitation expires
        role:
          $ref: '#/components/schemas/userRole'
          description: Role that will be assigned to the invited user

    organizationName:
      type: string
      description: The name of the organization

    authScope:
      type: string
      enum:
        - read-api-keys
        - write-api-keys
        - read-users
        - write-users
        - read-organization-metadata
        - write-organization-metadata
        - read-devices
        - write-devices
        - read-invitations
        - write-invitations
        - read-packets
        - read-platform-metrics
        - read-billing-usage
        - read-billing-invoices
        - read-webhooks
        - write-webhooks
[...]
