openapi: 3.2.0
info:
  title: Hubble Platform Organizations API
  description: The Hubble platform is built API-first.
  version: 1.0.0
servers:
- url: https://api.hubble.com
  description: Production
security:
- BearerAuth: []
tags:
- name: Organizations
paths:
  /v1/org/{org_id}:
    patch:
      tags:
      - Organizations
      operationId: update-organization-metadata
      x-criticality: medium
      summary: Update Organization Metadata
      description: 'Update metadata for an organization.


        **Required Scope:** `write-organization-metadata`'
      parameters:
      - $ref: '#/components/parameters/orgIdPathParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: "All of the potential update operations. \nEach field is optional but the request must have at least one field set to perform an update.\n"
              properties:
                set_name:
                  $ref: '#/components/schemas/organizationName'
                set_address:
                  $ref: '#/components/schemas/address'
                set_contact_info:
                  $ref: '#/components/schemas/contactInfo'
                set_timezone:
                  $ref: '#/components/schemas/timezone'
      responses:
        '200':
          description: Updated Organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organization'
        '400':
          $ref: '#/components/responses/ErrorBadRequest'
        '500':
          $ref: '#/components/responses/ErrorInternalServer'
    get:
      tags:
      - Organizations
      operationId: retrieve-organization-metadata
      x-criticality: medium
      summary: Retrieve Organization Metadata
      description: 'Retrieve metadata for an organization.


        **Required Scope:** `read-organization-metadata`'
      parameters:
      - $ref: '#/components/parameters/orgIdPathParam'
      responses:
        '200':
          description: An Organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organization'
        '400':
          $ref: '#/components/responses/ErrorBadRequest'
        '500':
          $ref: '#/components/responses/ErrorInternalServer'
  /v1/org/{org_id}/users:
    get:
      tags:
      - Organizations
      operationId: list-users-in-organization
      x-criticality: medium
      summary: List Organization Users
      description: 'Page through users in an organization.


        **Required Scope:** `read-users`'
      parameters:
      - $ref: '#/components/parameters/orgIdPathParam'
      - $ref: '#/components/parameters/pageNumberQueryParam'
      - $ref: '#/components/parameters/pageSizeQueryParam'
      responses:
        '200':
          description: A page of users from an organization
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      $ref: '#/components/schemas/organizationUser'
        '400':
          $ref: '#/components/responses/ErrorBadRequest'
        '500':
          $ref: '#/components/responses/ErrorInternalServer'
    post:
      tags:
      - Organizations
      operationId: add-user-to-organization
      x-criticality: medium
      summary: Add User to Organization
      description: 'Add a user to the organization.

        This endpoint directly adds the user to the organization and does not create an invitation.


        **Required Scope:** `write-users`'
      parameters:
      - $ref: '#/components/parameters/orgIdPathParam'
      - $ref: '#/components/parameters/contentTypeJsonHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - email
              - role
              properties:
                email:
                  type: string
                  format: email
                  description: Email address of the user to add
                role:
                  $ref: '#/components/schemas/userRole'
                  description: Role to assign to the user in the organization
              example:
                email: newuser@example.com
                role: member
      responses:
        '200':
          description: User added successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organizationUser'
        '400':
          $ref: '#/components/responses/ErrorBadRequest'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '500':
          $ref: '#/components/responses/ErrorInternalServer'
  /v1/org/{org_id}/users/{user_id}:
    patch:
      tags:
      - Organizations
      operationId: update-user-in-organization
      x-criticality: medium
      summary: Update User in Organization
      description: 'Update a user''s metadata and/or role in the organization.


        **Required Scope:** `write-users`'
      parameters:
      - $ref: '#/components/parameters/orgIdPathParam'
      - $ref: '#/components/parameters/userIdPathParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request body for updating a user in an organization
              properties:
                set_first_name:
                  type: string
                  maxLength: 250
                  description: Update the user's first name
                set_last_name:
                  type: string
                  maxLength: 250
                  description: Update the user's last name
                set_role:
                  $ref: '#/components/schemas/userRole'
                  description: Update the user's role in the organization
              example:
                set_first_name: John
                set_last_name: Doe
                set_role: admin
      responses:
        '200':
          description: User updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organizationUser'
        '400':
          $ref: '#/components/responses/ErrorBadRequest'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '500':
          $ref: '#/components/responses/ErrorInternalServer'
    delete:
      tags:
      - Organizations
      operationId: delete-user-from-organization
      x-criticality: medium
      summary: Delete User from Organization
      description: 'Remove a user from the organization.


        **Required Scope:** `write-users`'
      parameters:
      - $ref: '#/components/parameters/orgIdPathParam'
      - $ref: '#/components/parameters/userIdPathParam'
      responses:
        '200':
          description: User successfully deleted from organization
          content:
            application/json:
              schema:
                type: object
                description: Empty response object
                example: {}
        '400':
          $ref: '#/components/responses/ErrorBadRequest'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '500':
          $ref: '#/components/responses/ErrorInternalServer'
  /v1/org/{org_id}/invitations:
    get:
      tags:
      - Organizations
      operationId: list-pending-invites
      x-criticality: medium
      summary: List Pending Invites
      description: 'Page through pending invites to an organization.


        **Required Scope:** `read-invitations`'
      parameters:
      - $ref: '#/components/parameters/orgIdPathParam'
      - $ref: '#/components/parameters/pageNumberQueryParam'
      - $ref: '#/components/parameters/pageSizeQueryParam'
      responses:
        '200':
          description: A page of pending invites from an organization
          content:
            application/json:
              schema:
                type: object
                properties:
                  invites:
                    type: array
                    items:
                      $ref: '#/components/schemas/invitation'
                  total_invites:
                    type: integer
                    description: Total number of pending invites
        '400':
          $ref: '#/components/responses/ErrorBadRequest'
        '500':
          $ref: '#/components/responses/ErrorInternalServer'
    post:
      tags:
      - Organizations
      operationId: invite-user-to-organization
      x-criticality: medium
      summary: Invite User to Organization
      description: 'Invite a user to join the organization.


        **Required Scope:** `write-invitations`'
      parameters:
      - $ref: '#/components/parameters/orgIdPathParam'
      - $ref: '#/components/parameters/contentTypeJsonHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - invitee_email
              - role
              properties:
                invitee_email:
                  type: string
                  format: email
                  description: Email address of the user to invite
                role:
                  $ref: '#/components/schemas/userRole'
                  description: Role to assign to the invited user
      responses:
        '200':
          description: Invitation successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invitation'
        '400':
          $ref: '#/components/responses/ErrorBadRequest'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '500':
          $ref: '#/components/responses/ErrorInternalServer'
    delete:
      tags:
      - Organizations
      operationId: delete-invitation
      x-criticality: medium
      summary: Delete Invitation
      description: 'Revoke a pending invitation to the organization.


        **Required Scope:** `write-invitations`'
      parameters:
      - $ref: '#/components/parameters/orgIdPathParam'
      - $ref: '#/components/parameters/contentTypeJsonHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - invitee_email
              properties:
                invitee_email:
                  type: string
                  format: email
                  description: Email address of the user whose invitation to revoke
      responses:
        '200':
          description: Invitation successfully revoked
          content:
            application/json:
              schema:
                type: object
                example: {}
        '400':
          $ref: '#/components/responses/ErrorBadRequest'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '500':
          $ref: '#/components/responses/ErrorInternalServer'
components:
  schemas:
    organizationName:
      type: string
      description: The name of the organization
    contactInfo:
      type: object
      properties:
        phoneNumber:
          type: string
          description: A phone number matching the [E.164](https://en.wikipedia.org/wiki/E.164) specification
        email:
          type: string
          description: An email address
    orgType:
      type: string
      enum:
      - sandbox
      - production
      description: Whether this organization is a sandbox or production organization
    errorResponse:
      type: object
      properties:
        code:
          type: integer
          description: The HTTP status code
        description:
          type: string
          description: 'A description for the error.

            For user errors, we attempt to be as descriptive as possible to help with diagnosing the issue.

            For internal errors, the error description is only indicates that a retry should occur but we log the full error so that we can diagnose it.

            Error descriptions can change over time and should not be programmed against.

            '
        name:
          type: string
          enum:
          - Bad Request
          - Unauthorized
          - Not Found
          - Too Many Requests
          - Internal Server Error
          description: '`name` is a short name for the error.

            '
    invitation:
      type: object
      description: An invitation to join an organization
      required:
      - invitee_email
      - role
      - created_at
      - expires_at
      properties:
        invitee_email:
          type: string
          format: email
          description: Email address of the invited user
        inviter_email:
          type: string
          format: email
          description: Email address of the user who sent the invitation
        created_at:
          $ref: '#/components/schemas/utcTimestampInteger'
          description: Timestamp when the invitation was created
        expires_at:
          $ref: '#/components/schemas/utcTimestampInteger'
          description: Timestamp when the invitation expires
        role:
          $ref: '#/components/schemas/userRole'
          description: Role that will be assigned to the invited user
    utcTimestampInteger:
      type: integer
      format: int64
      description: An UTC second-precision timestamp formatted as an integer
    address:
      type: object
      properties:
        street_address:
          type: string
          description: The first line of a street address
          maxLength: 250
        street_address_line_two:
          type: string
          description: The optional second line of a street address
          maxLength: 250
        city:
          type: string
          description: A city that the address relates to
          maxLength: 100
        state:
          type: string
          description: A state that the address relates to
          maxLength: 100
        country:
          type: number
          description: A country code defined by [ISO-3166](https://en.wikipedia.org/wiki/List_of_ISO_3166_country_codes).
    timezone:
      type: string
      description: A timezone string defined in the [IANA Time Zone](https://www.iana.org/time-zones) database.
    userRole:
      type: string
      enum:
      - admin
      - member
      description: The role a user is assigned within an organization
    orgId:
      type: string
      format: uuid
      description: The ID for an organization
    organization:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/organizationName'
        org_id:
          $ref: '#/components/schemas/orgId'
        contact_info:
          $ref: '#/components/schemas/contactInfo'
        address:
          $ref: '#/components/schemas/address'
        timezone:
          $ref: '#/components/schemas/timezone'
        org_type:
          $ref: '#/components/schemas/orgType'
        production_org_id:
          allOf:
          - $ref: '#/components/schemas/orgId'
          description: 'The org_id of the paired production organization. Only set when

            org_type is sandbox and the sandbox is paired to a production org.

            '
    organizationUser:
      type: object
      description: A user within an organization
      properties:
        user_id:
          type: string
          description: an id for the user
        email:
          type: string
          format: email
          description: the user's email address
        email_confirmed:
          type: boolean
          description: whether the user's email has been confirmed
        first_name:
          type: string
          description: the user's first name
        last_name:
          type: string
          description: the user's last name
        created_at:
          $ref: '#/components/schemas/utcTimestampInteger'
        last_active_at:
          $ref: '#/components/schemas/utcTimestampInteger'
        role:
          $ref: '#/components/schemas/userRole'
  responses:
    ErrorUnauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          example:
            code: 401
            description: Authentication is required and has failed or has not been provided.
            name: Unauthorized
    ErrorBadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          example:
            code: 400
            description: The request could not be understood by the server due to malformed syntax.
            name: Bad Request
    ErrorInternalServer:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          example:
            code: 500
            description: An unknown error has occurred.
            name: Unknown
  parameters:
    pageSizeQueryParam:
      name: page_size
      in: query
      required: false
      schema:
        type: integer
        minimum: 5
        maximum: 100
        default: 10
      description: The maximum number of items to return in a single request
    pageNumberQueryParam:
      name: page_number
      in: query
      required: false
      schema:
        type: integer
        minimum: 0
        default: 0
      description: The page number of items to return
    contentTypeJsonHeader:
      name: Content-Type
      in: header
      schema:
        type: string
      description: An indication that the payload is JSON
      example: application/json
    userIdPathParam:
      name: user_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: The ID of the user
    orgIdPathParam:
      name: org_id
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/orgId'
      description: Your organization ID
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
