openapi: 3.2.0
info:
  title: Hubble Platform Billing API
  description: The Hubble platform is built API-first.
  version: 1.0.0
servers:
- url: https://api.hubble.com
  description: Production
security:
- BearerAuth: []
tags:
- name: Billing
paths:
  /v1/org/{org_id}/billing/invoices:
    get:
      tags:
      - Billing
      operationId: get-recent-invoices
      x-criticality: medium
      summary: Get Recent Invoices
      description: 'Retrieve the most recent invoices for your organization.


        **Required Scope:** `read-billing-invoices`'
      parameters:
      - $ref: '#/components/parameters/orgIdPathParam'
      responses:
        '200':
          description: A page of invoices
          content:
            application/json:
              schema:
                type: object
                properties:
                  invoices:
                    type: array
                    items:
                      type: object
                      properties:
                        invoice_id:
                          type: string
                          description: the primary id for the invoice
                        invoice_number:
                          type: string
                          description: 'Customer-facing invoice number (e.g. Stripe `number`), matching what appears on the PDF.

                            '
                        issue_timestamp:
                          $ref: '#/components/schemas/utcTimestampNumber'
                        due_timestamp:
                          $ref: '#/components/schemas/utcTimestampNumber'
                        status:
                          type: string
                          enum:
                          - DRAFT
                          - PENDING
                          - COMPLETED
                          description: "A status for the invoice. \nThe invoice starts as a DRAFT and then transitions to PENDING when it is ready to be paid.\nA fully paid invoice is then COMPLETED.\n"
                        total_balance:
                          type: number
                          format: float
                          description: 'The total balance amount on the invoice. The value is based on the organization''s currency.

                            '
                        remaining_balance:
                          type: number
                          format: float
                          description: 'The remaining balance due on the invoice. The value is based on the organization''s currency.

                            '
        '400':
          $ref: '#/components/responses/ErrorBadRequest'
        '500':
          $ref: '#/components/responses/ErrorInternalServer'
  /v1/org/{org_id}/billing/invoices/{invoice_id}/pdf:
    get:
      tags:
      - Billing
      operationId: get-invoice-pdf
      x-criticality: medium
      summary: Get Invoice PDF
      description: 'Retrieve an invoice PDF.


        **Required Scope:** `read-billing-invoices`'
      parameters:
      - $ref: '#/components/parameters/orgIdPathParam'
      - name: invoice_id
        in: path
        required: true
        schema:
          type: string
        description: The primary key for an invoice
      responses:
        '200':
          description: A PDF document for an invoice
          content:
            application/pdf:
              schema:
                type: string
                format: binary
                description: the PDF contents
        '400':
          $ref: '#/components/responses/ErrorBadRequest'
        '500':
          $ref: '#/components/responses/ErrorInternalServer'
  /v1/org/{org_id}/billing/usage:
    get:
      tags:
      - Billing
      operationId: get-billing-usage
      x-criticality: medium
      summary: Get Billing Usage
      description: 'Retrieve the most recent billing usage for your organization.


        **Required Scope:** `read-billing-usage`'
      parameters:
      - $ref: '#/components/parameters/orgIdPathParam'
      responses:
        '200':
          description: A page of usage
          content:
            application/json:
              schema:
                type: object
                properties:
                  usage:
                    type: array
                    items:
                      type: object
                      properties:
                        usage_timestamp:
                          $ref: '#/components/schemas/formattedTimestamp'
                        usage_type:
                          type: string
                          enum:
                          - Daily Active Devices
                          - Monthly Active Devices
                          description: 'The type of usage recorded.

                            '
                        usage_value:
                          type: integer
                          description: 'The usage value for this type and timestamp.

                            '
        '400':
          $ref: '#/components/responses/ErrorBadRequest'
        '500':
          $ref: '#/components/responses/ErrorInternalServer'
  /v1/org/{org_id}/billing/active-devices:
    get:
      tags:
      - Billing
      operationId: get-billing-active-devices
      x-criticality: medium
      summary: List active devices for the current billing period
      description: 'Returns the paginated list of devices that were active during the organization''s

        current Stripe billing period. A device is considered active if its most recent

        packet timestamp falls within the period.


        Use the `Continuation-Token` header for cursor-based pagination (same pattern as

        `GET /v1/org/{org_id}/devices`).


        **Required Scope:** `read-billing-usage`'
      parameters:
      - $ref: '#/components/parameters/orgIdPathParam'
      - $ref: '#/components/parameters/continuationTokenHeader'
      - $ref: '#/components/parameters/limitQueryParam'
      - name: network_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - terrestrial
          - satellite
        description: 'Filter devices by network type. Omit to include all network types.

          Requesting `satellite` requires the organization to have satellite access.

          '
      responses:
        '200':
          description: Active devices for the billing period
          headers:
            Continuation-Token:
              $ref: '#/components/headers/ContinuationTokenHeader'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingActiveDevicesResponse'
        '400':
          $ref: '#/components/responses/ErrorBadRequest'
        '403':
          $ref: '#/components/responses/ErrorForbidden'
        '500':
          $ref: '#/components/responses/ErrorInternalServer'
  /v1/org/{org_id}/billing/subscription:
    get:
      tags:
      - Billing
      operationId: get-billing-subscription
      x-criticality: medium
      summary: Get current subscription / plan
      description: 'Returns the organization''s current self-serve subscription snapshot from Stripe (plan tier, status, billing period fields).


        Timestamps are **Hubble unix-microsecond** integers (not Stripe''s second-precision Unix times).


        **Required Scope:** `read-billing-invoices`'
      parameters:
      - $ref: '#/components/parameters/orgIdPathParam'
      responses:
        '200':
          description: Subscription snapshot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingSubscription'
        '403':
          $ref: '#/components/responses/ErrorForbidden'
        '500':
          $ref: '#/components/responses/ErrorInternalServer'
  /v1/org/{org_id}/billing/payment-method:
    get:
      tags:
      - Billing
      operationId: get-billing-payment-method
      x-criticality: medium
      summary: List saved card payment methods
      description: 'Returns every **card** payment method attached to the org''s Stripe customer (self-serve; no manual Dashboard "invoice default" required).


        `default_payment_method_id` is the Stripe Customer''s **invoice** default (`pm_...`) when set; it may be empty even when `payment_methods` is non-empty.


        **Required Scope:** `read-billing-invoices`'
      parameters:
      - $ref: '#/components/parameters/orgIdPathParam'
      responses:
        '200':
          description: Saved cards (empty array if none)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingPaymentMethodsResponse'
        '403':
          $ref: '#/components/responses/ErrorForbidden'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '500':
          $ref: '#/components/responses/ErrorInternalServer'
components:
  schemas:
    BillingPaymentMethodsResponse:
      type: object
      required:
      - payment_methods
      properties:
        payment_methods:
          type: array
          items:
            $ref: '#/components/schemas/BillingPaymentMethodCard'
        default_payment_method_id:
          type: string
          description: Customer invoice_settings.default_payment_method when set
    utcTimestampNumber:
      type: number
      format: double
      description: An UTC second-precision timestamp formatted as a floating point number
    BillingSubscription:
      type: object
      required:
      - plan
      - status
      properties:
        plan:
          type: string
          enum:
          - GROWTH
          - SCALE
          - ENTERPRISE
          - SANDBOX
        status:
          type: string
          description: Stripe subscription status, or `none` when there is no subscription.
        current_period_start:
          type: integer
          format: int64
          description: Start of the current billing period (Hubble unix-microsecond timestamp), if applicable.
        current_period_end:
          type: integer
          format: int64
          description: End of the current billing period (Hubble unix-microsecond timestamp), if applicable.
        next_payment_date:
          type: integer
          format: int64
          description: Approximate next charge date (Hubble unix-microsecond timestamp), if applicable.
        cancel_at_period_end:
          type: boolean
        prepaid_devices:
          type: integer
        price_monthly_cents:
          type: integer
          format: int64
        overage_per_device_cents:
          type: integer
          format: int64
    errorResponse:
      type: object
      properties:
        code:
          type: integer
          description: The HTTP status code
        description:
          type: string
          description: 'A description for the error.

            For user errors, we attempt to be as descriptive as possible to help with diagnosing the issue.

            For internal errors, the error description is only indicates that a retry should occur but we log the full error so that we can diagnose it.

            Error descriptions can change over time and should not be programmed against.

            '
        name:
          type: string
          enum:
          - Bad Request
          - Unauthorized
          - Not Found
          - Too Many Requests
          - Internal Server Error
          description: '`name` is a short name for the error.

            '
    BillingActiveDevicesResponse:
      type: object
      required:
      - devices
      - period_start
      - period_end
      properties:
        devices:
          type: array
          items:
            $ref: '#/components/schemas/BillingActiveDevice'
        period_start:
          type: string
          format: date-time
          description: Start of the current billing period (ISO 8601).
        period_end:
          type: string
          format: date-time
          description: End of the current billing period (ISO 8601).
    formattedTimestamp:
      type: string
      format: date-time
      description: "Start of the bucket in ISO 8601 format.\nFor example: `2025-04-25T14:01:54Z`. \n"
    BillingActiveDevice:
      type: object
      required:
      - device_id
      - name
      properties:
        device_id:
          type: string
          description: The device identifier.
        name:
          type: string
          description: The device display name.
        network_type:
          type: string
          enum:
          - terrestrial
          - satellite
          description: The network on which the device was most recently active.
        last_active:
          type: number
          format: double
          description: Unix timestamp (seconds, fractional) of the device's most recent packet.
    orgId:
      type: string
      format: uuid
      description: The ID for an organization
    BillingPaymentMethodCard:
      type: object
      required:
      - id
      - type
      properties:
        id:
          type: string
          description: Stripe PaymentMethod id (`pm_...`)
        type:
          type: string
          example: card
        brand:
          type: string
          example: visa
        last4:
          type: string
        exp_month:
          type: integer
          format: int64
        exp_year:
          type: integer
          format: int64
  responses:
    ErrorInternalServer:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          example:
            code: 500
            description: An unknown error has occurred.
            name: Unknown
    ErrorForbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          example:
            code: 403
            description: The authenticated principal is not allowed to perform this operation.
            name: Forbidden
    ErrorBadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          example:
            code: 400
            description: The request could not be understood by the server due to malformed syntax.
            name: Bad Request
    ErrorNotFound:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          example:
            code: 404
            description: The requested resource was not found.
            name: Not Found
  parameters:
    orgIdPathParam:
      name: org_id
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/orgId'
      description: Your organization ID
    continuationTokenHeader:
      name: Continuation-Token
      in: header
      required: false
      schema:
        type: string
      description: A token to indicate how to continue paging
    limitQueryParam:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        maximum: 1000
        minimum: 10
        default: 250
      description: A limit for the page size of devices
  headers:
    ContinuationTokenHeader:
      description: A token to indicate how to continue paging
      schema:
        type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
