openapi: 3.2.0
info:
  title: Hubble Platform Platform Metrics API
  description: The Hubble platform is built API-first.
  version: 1.0.0
servers:
- url: https://api.hubble.com
  description: Production
security:
- BearerAuth: []
tags:
- name: Platform Metrics
paths:
  /v1/org/{org_id}/api_metrics:
    get:
      tags:
      - Platform Metrics
      operationId: get-api-metrics
      x-criticality: medium
      summary: Get Organization API Metrics
      description: 'Retrieves API request metrics including total requests, success rate, and time interval-based breakdowns.


        **Required Scope:** `read-platform-metrics`'
      parameters:
      - $ref: '#/components/parameters/orgIdPathParam'
      - $ref: '#/components/parameters/metricsDaysBackQueryParam'
      - $ref: '#/components/parameters/metricsTimeIntervalQueryParam'
      responses:
        '200':
          description: Successfully retrieved API metrics
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_requests:
                    type: integer
                    description: Total number of API requests in the time period
                  success_rate:
                    $ref: '#/components/schemas/metricsSuccessRate'
                  buckets:
                    type: array
                    description: Hourly breakdown of metrics
                    items:
                      type: object
                      properties:
                        timestamp:
                          type: string
                          format: date-time
                          description: Start of the hour in ISO 8601 format
                        total_requests:
                          type: integer
                          description: Number of requests in this hour
                        success_rate:
                          $ref: '#/components/schemas/metricsSuccessRate'
        '400':
          $ref: '#/components/responses/ErrorBadRequest'
        '500':
          $ref: '#/components/responses/ErrorInternalServer'
  /v1/org/{org_id}/packet_metrics:
    get:
      tags:
      - Platform Metrics
      operationId: get-packet-metrics
      x-criticality: medium
      summary: Get Organization Packet Metrics
      description: 'Retrieves packet metrics across a time range providing totals and time interval-based breakdowns.


        **Required Scope:** `read-platform-metrics`'
      parameters:
      - $ref: '#/components/parameters/orgIdPathParam'
      - $ref: '#/components/parameters/metricsDaysBackQueryParam'
      - $ref: '#/components/parameters/metricsTimeIntervalQueryParam'
      - $ref: '#/components/parameters/filterTagsQueryParam'
      responses:
        '200':
          description: Successfully retrieved packet metrics
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_packets:
                    type: integer
                    description: Total number of packets in the time period
                  buckets:
                    type: array
                    description: A breakdown of packet metrics per time_interval
                    items:
                      type: object
                      properties:
                        timestamp:
                          $ref: '#/components/schemas/formattedTimestamp'
                        total_packets:
                          type: integer
                          description: Number of packets in this time_interval
        '400':
          $ref: '#/components/responses/ErrorBadRequest'
        '500':
          $ref: '#/components/responses/ErrorInternalServer'
  /v1/org/{org_id}/webhook_metrics:
    get:
      tags:
      - Platform Metrics
      operationId: get-webhook-metrics
      x-criticality: medium
      summary: Get Organization Webhook Metrics
      description: 'Retrieves webhook metrics including total requests, success rate, and time interval-based breakdowns for webhook events.


        **Required Scope:** `read-platform-metrics`'
      parameters:
      - $ref: '#/components/parameters/orgIdPathParam'
      - $ref: '#/components/parameters/metricsDaysBackQueryParam'
      - $ref: '#/components/parameters/metricsTimeIntervalQueryParam'
      responses:
        '200':
          description: Successfully retrieved webhook metrics
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_requests:
                    type: integer
                    description: Total number of webhook requests in the time period
                  success_rate:
                    $ref: '#/components/schemas/metricsSuccessRate'
                  buckets:
                    type: array
                    description: Hourly breakdown of webhook metrics
                    items:
                      type: object
                      properties:
                        timestamp:
                          $ref: '#/components/schemas/formattedTimestamp'
                        total_requests:
                          type: integer
                          description: Number of webhook requests in this hour
                        success_rate:
                          $ref: '#/components/schemas/metricsSuccessRate'
        '400':
          $ref: '#/components/responses/ErrorBadRequest'
        '500':
          $ref: '#/components/responses/ErrorInternalServer'
  /v1/org/{org_id}/device_metrics:
    get:
      tags:
      - Platform Metrics
      operationId: get-device-metrics
      x-criticality: medium
      summary: Get Organization Device Metrics
      description: 'Retrieves metrics for active, never active, and total registered devices over time.


        ### Most Recent/Partial Bucket

        The most recent bucket, the partial bucket, is not calculated on this endpoint except for when using the hourly time interval.

        For parsing/syntax consistency, this bucket is still returned with a timestamp and empty values for the active, registered, and never active devices values.


        **Required Scope:** `read-platform-metrics`'
      parameters:
      - $ref: '#/components/parameters/orgIdPathParam'
      - $ref: '#/components/parameters/metricsDaysBackQueryParam'
      - $ref: '#/components/parameters/metricsTimeIntervalQueryParam'
      - $ref: '#/components/parameters/filterTagsQueryParam'
      responses:
        '200':
          description: Successfully retrieved device metrics
          content:
            application/json:
              schema:
                type: object
                properties:
                  buckets:
                    type: array
                    description: Hourly breakdown of device metrics
                    items:
                      type: object
                      properties:
                        timestamp:
                          $ref: '#/components/schemas/formattedTimestamp'
                        registered_devices:
                          type: integer
                          description: 'The total number of registered devices at the end of this interval.

                            '
                        active_devices:
                          type: number
                          description: 'The number of active devices during this interval.

                            Active devices are those that have successfully transmitted a packet.

                            Because of the ingestion delays, recent windows metrics may still be accumulating new active devices.

                            '
                        never_active_devices:
                          type: number
                          description: 'The number of never active devices during this interval.

                            Never active devices are devices registered to your organization awaiting first transmission.

                            '
                  total_active_devices:
                    type: number
                    description: 'The total number of active devices across the queried time range.

                      Active devices are those that have successfully transmitted a packet.

                      '
                  total_registered_devices:
                    type: number
                    description: 'The total number of devices registered for the organization.

                      '
                  total_never_active_devices:
                    type: number
                    description: 'The total number of never active devices across the queried time range.

                      Never active devices are devices registered to your organization awaiting first transmission.

                      '
        '400':
          $ref: '#/components/responses/ErrorBadRequest'
        '500':
          $ref: '#/components/responses/ErrorInternalServer'
components:
  parameters:
    filterTagsQueryParam:
      name: filter_tags
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
          description: 'A tag to match against. For example: _env:production.

            '
      description: 'A set of device **platform tags** specifying which packets to include.

        Only platform tags are queryable: `_env:production`, `_env:sandbox`.

        The query param can be used multiple times to form a list of tags.

        Packet matching criteria uses AND logic when different tag keys are used in a list of tags, and OR logic when the same tag key is used more than once.

        '
    metricsTimeIntervalQueryParam:
      name: time_interval
      in: query
      required: false
      schema:
        type: string
        enum:
        - hour
        - day
        - month
      description: "The time interval for the metric buckets.\nIf not provided, a default value is selected based on the `days` parameter:\n\n| days        | time_interval |\n| ----------- | ------------- |\n| [1 => 1)    | hour          |\n| [2 => 31]   | day           |\n| [32 => 365] | month         |\n\n**Partial buckets:** The most recent bucket of metrics is a \"partial\" bucket depending on the interval - partial because it doesn't span a full time_interval yet. \n(e.g. 10:00pm -> 10:36pm for `hour`, June 3rd 12:00am -> June 3rd 10:36pm for `day`, June 1st 12:00am -> June 3rd 10:36pm for `month`).\nThe older buckets are always \"complete\" buckets.\n(e.g. 09:00pm -> 10:00pm for `hour`, June 2nd 12:00am -> June 3rd 12:00am for `day`, May 1st 12:00am -> June 1st 12:00am for `month`).\n\n**Edge cases:** If `days` is not large enough to include a full `month` bucket, days is increased in the backend. \nFor example, querying days=90 with a `month` time_interval on June 13th, 2025 will return \"complete\" March, April, and May buckets and a \"partial\" June bucket.\nSimilarly, when querying for days=7 with a `day` time_interval on June 13th, 2025 at 6:00am will return \"complete\" June 6th, 7th, 8th, 9th, 10th, 11th, and 12th buckets and a \"partial\" June 13th bucket.\n"
    orgIdPathParam:
      name: org_id
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/orgId'
      description: Your organization ID
    metricsDaysBackQueryParam:
      name: days
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 365
        default: 1
      description: 'The number of days of metrics to include in the request.


        The maximum value is further restricted when small `time_interval` values are used.

        The maximum number of total metric buckets is 365.

        '
  schemas:
    metricsSuccessRate:
      type: number
      format: float
      description: "Success rate of requests (0-1). \nWhen total requests is 0, the success rate defaults to 1.0 or 100%.\n"
    errorResponse:
      type: object
      properties:
        code:
          type: integer
          description: The HTTP status code
        description:
          type: string
          description: 'A description for the error.

            For user errors, we attempt to be as descriptive as possible to help with diagnosing the issue.

            For internal errors, the error description is only indicates that a retry should occur but we log the full error so that we can diagnose it.

            Error descriptions can change over time and should not be programmed against.

            '
        name:
          type: string
          enum:
          - Bad Request
          - Unauthorized
          - Not Found
          - Too Many Requests
          - Internal Server Error
          description: '`name` is a short name for the error.

            '
    orgId:
      type: string
      format: uuid
      description: The ID for an organization
    formattedTimestamp:
      type: string
      format: date-time
      description: "Start of the bucket in ISO 8601 format.\nFor example: `2025-04-25T14:01:54Z`. \n"
  responses:
    ErrorInternalServer:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          example:
            code: 500
            description: An unknown error has occurred.
            name: Unknown
    ErrorBadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          example:
            code: 400
            description: The request could not be understood by the server due to malformed syntax.
            name: Bad Request
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
